In [12]:
import pandas as pd
import numpy as np

In [13]:
# 원 데이터셋 불러오기

loc = "../Datasets/"

raw_data_22 = pd.read_csv(loc + '2014-15.csv')

In [14]:
# xG 데이터 불러오기

xG_data_22 = pd.read_csv('xG_2014-15.csv')

In [15]:
# 원 데이터셋 column 생성
raw_data_22["Home_xG"] = np.NaN
raw_data_22["Home_xA"] = np.NaN
raw_data_22["Home_xPTS"] = np.NaN
raw_data_22["Away_xG"] = np.NaN
raw_data_22["Away_xA"] = np.NaN
raw_data_22["Away_xPTS"] = np.NaN

In [16]:
xG_data_22

           Date               Team    xG    xA  xPTS  match_or_not
0    08/08/2015          Leicester  2.57  1.46  2.13             1
1    08/08/2015     Crystal Palace  2.11  1.13  2.13             1
2    08/08/2015        Aston Villa  0.78  0.88  1.23             1
3    08/08/2015  Manchester United  0.63  0.67  1.24             1
4    08/08/2015            Everton  0.60  0.56  1.33             1
..          ...                ...   ...   ...   ...           ...
755  15/05/2016            Norwich  0.43  2.41  0.17             1
756  15/05/2016          Tottenham  0.87  2.43  0.40             1
757  15/05/2016        Aston Villa  0.22  3.40  0.04             1
758  17/05/2016  Manchester United  1.72  0.50  2.37             1
759  17/05/2016        Bournemouth  0.50  1.72  0.43             1

[760 rows x 6 columns]

In [17]:
# 팀 명 수정
for i in range(len(xG_data_22)):
    if xG_data_22.iloc[i][1] == "Manchester United":
        xG_data_22.loc[i, "Team"] = "Man United"
    if xG_data_22.iloc[i][1] == "Wolverhampton Wanderers":
        xG_data_22.loc[i, "Team"] = "Wolves"
    if xG_data_22.iloc[i][1] == "Manchester City":
        xG_data_22.loc[i, "Team"] = "Man City"
    if xG_data_22.iloc[i][1] == "Newcastle United":
        xG_data_22.loc[i, "Team"] = "Newcastle"
    if xG_data_22.iloc[i][1] == "West Bromwich Albion":
        xG_data_22.loc[i, "Team"] = "West Brom"

In [18]:
# for i in range(len(xG_data_22)):
#     print(xG_data_22.iloc[i][0][:6] + xG_data_22.iloc[i][0][8:10])
# #     print(raw_data_22.iloc[j][1])
#     print()

In [19]:
# for i in range(len(raw_data_22)):
#     print(raw_data_22.iloc[i][1])
# #     print(raw_data_22.iloc[j][1])
#     print()

In [20]:
print(len(raw_data_22))
print(len(xG_data_22))

380
760

In [21]:
# # xG 데이터 추가

# for i in range(len(xG_data_22)):
#     for j in range(len(raw_data_22)):
#         if xG_data_22.iloc[i][0] == raw_data_22.iloc[j][1]:
#             if xG_data_22.iloc[i][1] == raw_data_22.iloc[j][2]:
#                 raw_data_22.loc[j, 'Home_xG'] = xG_data_22.iloc[i][2]
#                 raw_data_22.loc[j, 'Home_xA'] = xG_data_22.iloc[i][3]
#                 raw_data_22.loc[j, 'Home_xPTS'] = xG_data_22.iloc[i][4]
#                 continue
#             elif xG_data_22.iloc[i][1] == raw_data_22.iloc[j][3]:
#                 raw_data_22.loc[j, 'Away_xG'] = xG_data_22.iloc[i][2]
#                 raw_data_22.loc[j, 'Away_xA'] = xG_data_22.iloc[i][3]
#                 raw_data_22.loc[j, 'Away_xPTS'] = xG_data_22.iloc[i][4]
#                 continue
# raw_data_22

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAvAHA,PSCH,PSCD,PSCA,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS
0,E0,08/08/2015,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.92,1.82,3.88,4.70,0.88,0.78,1.42,0.78,0.88,1.23
1,E0,08/08/2015,Chelsea,Swansea,2,2,D,2,1,H,...,1.73,1.37,5.04,10.88,0.64,2.59,0.18,2.59,0.64,2.72
2,E0,08/08/2015,Everton,Watford,2,2,D,0,1,A,...,1.71,1.75,3.76,5.44,0.60,0.56,1.33,0.56,0.60,1.24
3,E0,08/08/2015,Leicester,Sunderland,4,2,H,3,0,H,...,1.90,1.79,3.74,5.10,2.57,1.46,2.13,1.46,2.57,0.66
4,E0,08/08/2015,Man United,Tottenham,1,0,H,1,0,H,...,1.78,1.64,4.07,6.04,0.63,0.67,1.24,0.67,0.63,1.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15/05/2016,Stoke,West Ham,2,1,H,0,1,A,...,1.83,3.05,4.00,2.26,0.29,2.94,0.07,2.94,0.29,2.88
376,E0,15/05/2016,Swansea,Man City,1,1,D,1,1,D,...,1.81,7.05,5.00,1.47,0.12,2.04,0.09,2.04,0.12,2.84
377,E0,15/05/2016,Watford,Sunderland,2,2,D,0,1,A,...,1.85,1.64,4.52,5.27,1.95,0.91,2.19,0.91,1.95,0.58
378,E0,15/05/2016,West Brom,Liverpool,1,1,D,1,1,D,...,1.81,2.61,3.75,2.70,1.87,0.42,2.58,0.42,1.87,0.27
379,E0,17/05/2016,Man United,Bournemouth,3,1,H,1,0,H,...,2.02,1.50,4.60,7.03,1.72,0.50,2.37,0.50,1.72,0.43

In [22]:
# xG 데이터 추가 (날짜 형식: 0000-00-00)

for i in range(len(xG_data_22)):
    for j in range(len(raw_data_22)):
        if xG_data_22.iloc[i][0][:6] + xG_data_22.iloc[i][0][8:10] == raw_data_22.iloc[j][1]:
            if xG_data_22.iloc[i][1] == raw_data_22.iloc[j][2]:
                raw_data_22.loc[j, 'Home_xG'] = xG_data_22.iloc[i][2]
                raw_data_22.loc[j, 'Home_xA'] = xG_data_22.iloc[i][3]
                raw_data_22.loc[j, 'Home_xPTS'] = xG_data_22.iloc[i][4]
                continue
            elif xG_data_22.iloc[i][1] == raw_data_22.iloc[j][3]:
                raw_data_22.loc[j, 'Away_xG'] = xG_data_22.iloc[i][2]
                raw_data_22.loc[j, 'Away_xA'] = xG_data_22.iloc[i][3]
                raw_data_22.loc[j, 'Away_xPTS'] = xG_data_22.iloc[i][4]
                continue
raw_data_22

In [23]:
raw_data_22.to_csv("2014-2015_final.csv", index=False)