In [36]:
import pandas as pd
import numpy as np

In [37]:
# 원 데이터셋 불러오기

loc = "../Datasets/"

raw_data_22 = pd.read_csv(loc + '2014-15.csv')

In [38]:
# xG 데이터 불러오기

xG_data_22 = pd.read_csv('xG_2014-15.csv')

In [39]:
# 원 데이터셋 column 생성
raw_data_22["Home_xG"] = np.NaN
raw_data_22["Home_xA"] = np.NaN
raw_data_22["Home_xPTS"] = np.NaN
raw_data_22["Away_xG"] = np.NaN
raw_data_22["Away_xA"] = np.NaN
raw_data_22["Away_xPTS"] = np.NaN

In [40]:
xG_data_22

           Date                  Team    xG    xA  xPTS  match_or_not
0    16/08/2014               Arsenal  1.55  0.16  2.79             1
1    16/08/2014               Swansea  0.28  1.17  0.48             1
2    16/08/2014           Aston Villa  0.91  0.42  1.83             1
3    16/08/2014             Tottenham  1.02  1.85  0.71             1
4    16/08/2014                  Hull  1.12  1.90  0.74             1
..          ...                   ...   ...   ...   ...           ...
775  25/05/2015           Southampton  0.78  2.44  0.28             1
776  25/05/2015              West Ham  0.42  1.64  0.42             1
777  25/05/2015  West Bromwich Albion  0.57  3.17  0.11             1
778  25/05/2015   Queens Park Rangers  1.27  2.17  0.77             1
779  25/05/2015             Liverpool  1.02  2.16  0.53             1

[780 rows x 6 columns]

In [41]:
# 팀 명 수정
for i in range(len(xG_data_22)):
    if xG_data_22.iloc[i][1] == "Manchester United":
        xG_data_22.loc[i, "Team"] = "Man United"
    if xG_data_22.iloc[i][1] == "Wolverhampton Wanderers":
        xG_data_22.loc[i, "Team"] = "Wolves"
    if xG_data_22.iloc[i][1] == "Manchester City":
        xG_data_22.loc[i, "Team"] = "Man City"
    if xG_data_22.iloc[i][1] == "Newcastle United":
        xG_data_22.loc[i, "Team"] = "Newcastle"
    if xG_data_22.iloc[i][1] == "West Bromwich Albion":
        xG_data_22.loc[i, "Team"] = "West Brom"
    if xG_data_22.iloc[i][1] == "Queens Park Rangers":
        xG_data_22.loc[i, "Team"] = "QPR"

In [42]:
# for i in range(len(xG_data_22)):
#     print(xG_data_22.iloc[i][0][:6] + xG_data_22.iloc[i][0][8:10])
# #     print(raw_data_22.iloc[j][1])
#     print()

In [43]:
# for i in range(len(raw_data_22)):
#     print(raw_data_22.iloc[i][1])
# #     print(raw_data_22.iloc[j][1])
#     print()

In [44]:
print(len(raw_data_22))
print(len(xG_data_22))

380
780

In [45]:
# # xG 데이터 추가

# for i in range(len(xG_data_22)):
#     for j in range(len(raw_data_22)):
#         if xG_data_22.iloc[i][0] == raw_data_22.iloc[j][1]:
#             if xG_data_22.iloc[i][1] == raw_data_22.iloc[j][2]:
#                 raw_data_22.loc[j, 'Home_xG'] = xG_data_22.iloc[i][2]
#                 raw_data_22.loc[j, 'Home_xA'] = xG_data_22.iloc[i][3]
#                 raw_data_22.loc[j, 'Home_xPTS'] = xG_data_22.iloc[i][4]
#                 continue
#             elif xG_data_22.iloc[i][1] == raw_data_22.iloc[j][3]:
#                 raw_data_22.loc[j, 'Away_xG'] = xG_data_22.iloc[i][2]
#                 raw_data_22.loc[j, 'Away_xA'] = xG_data_22.iloc[i][3]
#                 raw_data_22.loc[j, 'Away_xPTS'] = xG_data_22.iloc[i][4]
#                 continue
# raw_data_22

In [46]:
# xG 데이터 추가 (날짜 형식: 0000-00-00)

for i in range(len(xG_data_22)):
    for j in range(len(raw_data_22)):
        if xG_data_22.iloc[i][0][:6] + xG_data_22.iloc[i][0][8:10] == raw_data_22.iloc[j][1]:
            if xG_data_22.iloc[i][1] == raw_data_22.iloc[j][2]:
                raw_data_22.loc[j, 'Home_xG'] = xG_data_22.iloc[i][2]
                raw_data_22.loc[j, 'Home_xA'] = xG_data_22.iloc[i][3]
                raw_data_22.loc[j, 'Home_xPTS'] = xG_data_22.iloc[i][4]
                continue
            elif xG_data_22.iloc[i][1] == raw_data_22.iloc[j][3]:
                raw_data_22.loc[j, 'Away_xG'] = xG_data_22.iloc[i][2]
                raw_data_22.loc[j, 'Away_xA'] = xG_data_22.iloc[i][3]
                raw_data_22.loc[j, 'Away_xPTS'] = xG_data_22.iloc[i][4]
                continue
raw_data_22

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS
0,E0,16/08/14,Arsenal,Crystal Palace,2,1,H,1,1,D,...,1.81,1.78,2.20,2.10,1.55,0.16,2.79,0.16,1.55,0.11
1,E0,16/08/14,Leicester,Everton,2,2,D,1,2,A,...,1.88,1.85,2.10,2.02,1.28,0.61,1.95,0.61,1.28,0.76
2,E0,16/08/14,Man United,Swansea,1,2,A,0,1,A,...,2.18,2.08,1.87,1.79,1.17,0.28,2.24,0.28,1.17,0.48
3,E0,16/08/14,QPR,Hull,0,1,A,0,0,D,...,1.80,1.73,2.25,2.14,1.90,1.12,2.01,1.12,1.90,0.74
4,E0,16/08/14,Stoke,Aston Villa,0,1,A,0,0,D,...,1.95,1.91,2.02,1.96,0.42,0.91,0.80,0.91,0.42,1.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,24/05/15,Hull,Man United,0,0,D,0,0,D,...,1.76,1.71,2.27,2.19,0.98,0.40,1.87,0.40,0.98,0.77
376,E0,24/05/15,Leicester,QPR,5,1,H,2,0,H,...,1.98,1.93,1.98,1.93,2.17,1.27,2.01,1.27,2.17,0.77
377,E0,24/05/15,Man City,Southampton,2,0,H,1,0,H,...,2.00,1.94,2.03,1.93,2.44,0.78,2.59,0.78,2.44,0.28
378,E0,24/05/15,Newcastle,West Ham,2,0,H,0,0,D,...,1.82,1.78,2.20,2.10,1.64,0.42,2.36,0.42,1.64,0.42
379,E0,24/05/15,Stoke,Liverpool,6,1,H,5,0,H,...,2.07,2.02,1.88,1.85,2.16,1.02,2.27,1.02,2.16,0.53

In [47]:
raw_data_22.to_csv("2014-2015_final.csv", index=False)