In [1]:
import pandas as pd
import numpy as np

In [2]:
loc = "Datasets/"

raw_data_1 = pd.read_csv(loc + '2000-01.csv')
raw_data_2 = pd.read_csv(loc + '2001-02.csv')
raw_data_3 = pd.read_csv(loc + '2002-03.csv')
raw_data_4 = pd.read_csv(loc + '2003-04.csv')
raw_data_5 = pd.read_csv(loc + '2004-05.csv')
raw_data_6 = pd.read_csv(loc + '2005-06.csv')
raw_data_7 = pd.read_csv(loc + '2006-07.csv')
raw_data_8 = pd.read_csv(loc + '2007-08.csv')
raw_data_9 = pd.read_csv(loc + '2008-09.csv')
raw_data_10 = pd.read_csv(loc + '2009-10.csv')
raw_data_11 = pd.read_csv(loc + '2010-11.csv')
raw_data_12 = pd.read_csv(loc + '2011-12.csv')
raw_data_13 = pd.read_csv(loc + '2012-13.csv')
raw_data_14 = pd.read_csv(loc + '2013-14.csv')

raw_data_1

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HC,AC,HF,AF,HO,AO,HY,AY,HR,AR
0,E0,19/08/00,Charlton,Man City,4,0,H,2,0,H,...,6,6,13,12,8,6,1,2,0,0
1,E0,19/08/00,Chelsea,West Ham,4,2,H,1,0,H,...,7,7,19,14,2,3,1,2,0,0
2,E0,19/08/00,Coventry,Middlesbrough,1,3,A,1,1,D,...,8,4,15,21,1,3,5,3,1,0
3,E0,19/08/00,Derby,Southampton,2,2,D,1,2,A,...,5,8,11,13,0,2,1,1,0,0
4,E0,19/08/00,Leeds,Everton,2,0,H,2,0,H,...,6,4,21,20,6,1,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,19/05/01,Man City,Chelsea,1,2,A,1,1,D,...,8,7,22,18,2,2,4,2,0,0
376,E0,19/05/01,Middlesbrough,West Ham,2,1,H,2,1,H,...,5,6,13,15,5,2,0,0,0,0
377,E0,19/05/01,Newcastle,Aston Villa,3,0,H,2,0,H,...,5,1,10,14,2,4,0,5,1,1
378,E0,19/05/01,Southampton,Arsenal,3,2,H,0,1,A,...,7,5,17,10,3,2,1,2,0,0
379,E0,19/05/01,Tottenham,Man United,3,1,H,1,1,D,...,3,6,13,15,3,2,0,2,0,0

In [3]:
# xG 크롤링 데이터 불러오기
loc_xG = "crawling/xG_final/"

raw_data_15 = pd.read_csv(loc_xG + '2014-2015_final.csv')
raw_data_16 = pd.read_csv(loc_xG + '2015-2016_final.csv')
raw_data_17 = pd.read_csv(loc_xG + '2016-2017_final.csv')
raw_data_18 = pd.read_csv(loc_xG + '2017-2018_final.csv')
raw_data_19 = pd.read_csv(loc_xG + '2018-2019_final.csv')
raw_data_20 = pd.read_csv(loc_xG + '2019-2020_final.csv')
raw_data_21 = pd.read_csv(loc_xG + '2020-2021_final.csv')
raw_data_22 = pd.read_csv(loc_xG + '2021-2022_final.csv')

In [4]:
#######

feature_list = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']
feature_list_xG = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR', 'Home_xG', 'Home_xA', 'Home_xPTS', 'Away_xG', 'Away_xA', 'Away_xPTS']

raw_data_1 = raw_data_1[feature_list]
raw_data_2 = raw_data_2[feature_list]
raw_data_3 = raw_data_3[feature_list]
raw_data_4 = raw_data_4[feature_list]
raw_data_5 = raw_data_5[feature_list]
raw_data_6 = raw_data_6[feature_list]
raw_data_7 = raw_data_7[feature_list]
raw_data_8 = raw_data_8[feature_list]
raw_data_9 = raw_data_9[feature_list]
raw_data_10 = raw_data_10[feature_list]
raw_data_11 = raw_data_11[feature_list]
raw_data_12 = raw_data_12[feature_list]
raw_data_13 = raw_data_13[feature_list]
raw_data_14 = raw_data_14[feature_list]
raw_data_15 = raw_data_15[feature_list_xG]
raw_data_16 = raw_data_16[feature_list_xG]
raw_data_17 = raw_data_17[feature_list_xG]
raw_data_18 = raw_data_18[feature_list_xG]
raw_data_19 = raw_data_19[feature_list_xG]
raw_data_20 = raw_data_20[feature_list_xG]
raw_data_21 = raw_data_21[feature_list_xG]
raw_data_22 = raw_data_22[feature_list_xG]

raw_data_18

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,...,HY,AY,HR,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS
0,Arsenal,Leicester,4,3,H,2,2,D,27,6,...,0,1,0,0,2.54,1.46,2.10,1.46,2.54,0.69
1,Brighton,Man City,0,2,A,0,0,D,6,14,...,0,2,0,0,0.28,1.87,0.17,1.87,0.28,2.71
2,Chelsea,Burnley,2,3,A,0,3,A,19,10,...,3,3,2,0,1.36,0.56,2.05,0.56,1.36,0.66
3,Crystal Palace,Huddersfield,0,3,A,0,2,A,14,8,...,1,3,0,0,0.99,1.74,0.71,1.74,0.99,2.04
4,Everton,Stoke,1,0,H,1,0,H,9,9,...,1,1,0,0,0.72,0.28,1.76,0.28,0.72,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Newcastle,Chelsea,3,0,H,1,0,H,16,6,...,0,1,0,0,2.24,0.84,2.53,0.84,2.24,0.30
376,Southampton,Man City,0,1,A,0,0,D,8,13,...,3,1,0,0,0.51,0.77,1.04,0.77,0.51,1.57
377,Swansea,Stoke,1,2,A,1,2,A,26,8,...,1,2,0,0,1.71,1.75,1.27,1.75,1.71,1.48
378,Tottenham,Leicester,5,4,H,1,2,A,14,16,...,1,2,0,0,1.83,1.27,1.84,1.27,1.83,0.91
379,West Ham,Everton,3,1,H,1,0,H,15,14,...,0,1,0,0,1.18,1.68,0.99,1.68,1.18,1.74

In [5]:
# xG column 추가
xG_columns = ['Home_xG', 'Home_xA', 'Home_xPTS', 'Away_xG', 'Away_xA', 'Away_xPTS']

def add_columns(df, columns):
    for i in columns:
        df[i] = np.NaN
    return df

xG_data_1 = add_columns(raw_data_1, xG_columns)
xG_data_2 = add_columns(raw_data_2, xG_columns)
xG_data_3 = add_columns(raw_data_3, xG_columns)
xG_data_4 = add_columns(raw_data_4, xG_columns)
xG_data_5 = add_columns(raw_data_5, xG_columns)
xG_data_6 = add_columns(raw_data_6, xG_columns)
xG_data_7 = add_columns(raw_data_7, xG_columns)
xG_data_8 = add_columns(raw_data_8, xG_columns)
xG_data_9 = add_columns(raw_data_9, xG_columns)
xG_data_10 = add_columns(raw_data_10, xG_columns)
xG_data_11 = add_columns(raw_data_11, xG_columns)
xG_data_12 = add_columns(raw_data_12, xG_columns)
xG_data_13 = add_columns(raw_data_13, xG_columns)
xG_data_14 = add_columns(raw_data_14, xG_columns)

xG_data_11

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,...,HY,AY,HR,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS
0,Aston Villa,West Ham,3,0,H,2,0,H,23,12,...,1,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,Blackburn,Everton,1,0,H,1,0,H,7,17,...,2,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,Bolton,Fulham,0,0,D,0,0,D,13,12,...,1,3,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,Chelsea,West Brom,6,0,H,2,0,H,18,10,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,Sunderland,Birmingham,2,2,D,1,0,H,6,13,...,3,3,1,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Newcastle,West Brom,3,3,D,2,0,H,15,13,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
376,Stoke,Wigan,0,1,A,0,0,D,11,11,...,1,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN
377,Tottenham,Birmingham,2,1,H,0,0,D,22,7,...,0,3,0,0,NaN,NaN,NaN,NaN,NaN,NaN
378,West Ham,Sunderland,0,3,A,0,1,A,17,17,...,0,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
379,Wolves,Blackburn,2,3,A,0,3,A,12,13,...,3,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# 필요한 column 추출
columns_req = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR', 'Home_xG', 'Home_xA', 'Home_xPTS', 'Away_xG', 'Away_xA', 'Away_xPTS']

playing_statistics_1 = xG_data_1[columns_req]                      
playing_statistics_2 = xG_data_2[columns_req]
playing_statistics_3 = xG_data_3[columns_req]
playing_statistics_4 = xG_data_4[columns_req]
playing_statistics_5 = xG_data_5[columns_req]
playing_statistics_6 = xG_data_6[columns_req]
playing_statistics_7 = xG_data_7[columns_req]
playing_statistics_8 = xG_data_8[columns_req]
playing_statistics_9 = xG_data_9[columns_req]
playing_statistics_10 = xG_data_10[columns_req]
playing_statistics_11 = xG_data_11[columns_req]   
playing_statistics_12 = xG_data_12[columns_req]
playing_statistics_13 = xG_data_13[columns_req]
playing_statistics_14 = xG_data_14[columns_req]
playing_statistics_15 = raw_data_15[columns_req]
playing_statistics_16 = raw_data_16[columns_req]
playing_statistics_17 = raw_data_17[columns_req]
playing_statistics_18 = raw_data_18[columns_req]
playing_statistics_19 = raw_data_19[columns_req]
playing_statistics_20 = raw_data_20[columns_req]
playing_statistics_21 = raw_data_21[columns_req]
playing_statistics_22 = raw_data_22[columns_req]

playing_statistics_5

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,HST,...,HY,AY,HR,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS
0,Aston Villa,Southampton,2,0,H,2,0,14,6,5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,Blackburn,West Brom,1,1,D,0,1,12,4,4,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,Bolton,Charlton,4,1,H,2,0,21,9,11,...,1,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,Man City,Fulham,1,1,D,1,0,12,4,5,...,0,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,Middlesbrough,Newcastle,2,2,D,0,1,15,11,8,...,3,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Man City,Middlesbrough,1,1,D,0,1,10,4,5,...,2,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN
376,Newcastle,Chelsea,1,1,D,1,1,8,12,4,...,4,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN
377,Southampton,Man United,1,2,A,1,1,11,16,3,...,1,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
378,Tottenham,Blackburn,0,0,D,0,0,11,12,7,...,2,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
379,West Brom,Portsmouth,2,0,H,0,0,9,8,5,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 경기 결과(승무패) 전처리

def transformResult(row):
    if(row.FTR == 'H'):
        return -1
    elif(row.FTR == 'A'):
        return 1
    else:
        return 0

def add_match_result(playing_stat, raw_data):
    playing_stat["Result"] = raw_data.apply(lambda row: transformResult(row),axis=1)
    return playing_stat

playing_statistics_1 = add_match_result(playing_statistics_1, raw_data_1)
playing_statistics_2 = add_match_result(playing_statistics_2, raw_data_2)
playing_statistics_3 = add_match_result(playing_statistics_3, raw_data_3)
playing_statistics_4 = add_match_result(playing_statistics_4, raw_data_4)
playing_statistics_5 = add_match_result(playing_statistics_5, raw_data_5)
playing_statistics_6 = add_match_result(playing_statistics_6, raw_data_6)
playing_statistics_7 = add_match_result(playing_statistics_7, raw_data_7)
playing_statistics_8 = add_match_result(playing_statistics_8, raw_data_8)
playing_statistics_9 = add_match_result(playing_statistics_9, raw_data_9)
playing_statistics_10 = add_match_result(playing_statistics_10, raw_data_10)
playing_statistics_11 = add_match_result(playing_statistics_11, raw_data_11)
playing_statistics_12 = add_match_result(playing_statistics_12, raw_data_12)
playing_statistics_13 = add_match_result(playing_statistics_13, raw_data_13)
playing_statistics_14 = add_match_result(playing_statistics_14, raw_data_14)
playing_statistics_15 = add_match_result(playing_statistics_15, raw_data_15)
playing_statistics_16 = add_match_result(playing_statistics_16, raw_data_16)
playing_statistics_17 = add_match_result(playing_statistics_17, raw_data_17)
playing_statistics_18 = add_match_result(playing_statistics_18, raw_data_18)
playing_statistics_19 = add_match_result(playing_statistics_19, raw_data_19)
playing_statistics_20 = add_match_result(playing_statistics_20, raw_data_20)
playing_statistics_21 = add_match_result(playing_statistics_21, raw_data_21)
playing_statistics_22 = add_match_result(playing_statistics_22, raw_data_22)

playing_statistics_5

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,HST,...,AY,HR,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Result
0,Aston Villa,Southampton,2,0,H,2,0,14,6,5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,-1
1,Blackburn,West Brom,1,1,D,0,1,12,4,4,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
2,Bolton,Charlton,4,1,H,2,0,21,9,11,...,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,-1
3,Man City,Fulham,1,1,D,1,0,12,4,5,...,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
4,Middlesbrough,Newcastle,2,2,D,0,1,15,11,8,...,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Man City,Middlesbrough,1,1,D,0,1,10,4,5,...,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
376,Newcastle,Chelsea,1,1,D,1,1,8,12,4,...,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
377,Southampton,Man United,1,2,A,1,1,11,16,3,...,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1
378,Tottenham,Blackburn,0,0,D,0,0,11,12,7,...,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0
379,West Brom,Portsmouth,2,0,H,0,0,9,8,5,...,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,-1

In [8]:
# 결과 원-핫 인코딩
from sklearn.preprocessing import OneHotEncoder

def result_onehotencoder(playing_stat):
    ohe = OneHotEncoder(sparse=False)
    
    df_temp = playing_stat['Result']
    df_temp = df_temp.to_numpy()
    df_temp = df_temp.reshape(-1, 1)

    ohe.fit(df_temp)
    onehot_temp = ohe.transform(df_temp)
    
#     print(df_temp)
#     print(onehot_temp)
    onehot_temp_table = pd.DataFrame(onehot_temp)
    onehot_temp_table.columns=['Home', 'draw', 'Away']
    
    playing_stat = pd.concat([playing_stat, onehot_temp_table], axis=1)
#     print(playing_stat)
    playing_stat = playing_stat.drop(['Result'], axis=1)
    playing_stat = playing_stat.drop(['FTR'], axis=1)
    

    return playing_stat


playing_statistics_1 = result_onehotencoder(playing_statistics_1)
playing_statistics_2 = result_onehotencoder(playing_statistics_2)
playing_statistics_3 = result_onehotencoder(playing_statistics_3)
playing_statistics_4 = result_onehotencoder(playing_statistics_4)
playing_statistics_5 = result_onehotencoder(playing_statistics_5)
playing_statistics_6 = result_onehotencoder(playing_statistics_6)
playing_statistics_7 = result_onehotencoder(playing_statistics_7)
playing_statistics_8 = result_onehotencoder(playing_statistics_8)
playing_statistics_9 = result_onehotencoder(playing_statistics_9)
playing_statistics_10 = result_onehotencoder(playing_statistics_10)
playing_statistics_11 = result_onehotencoder(playing_statistics_11)
playing_statistics_12 = result_onehotencoder(playing_statistics_12)
playing_statistics_13 = result_onehotencoder(playing_statistics_13)
playing_statistics_14 = result_onehotencoder(playing_statistics_14)
playing_statistics_15 = result_onehotencoder(playing_statistics_15)
playing_statistics_16 = result_onehotencoder(playing_statistics_16)
playing_statistics_17 = result_onehotencoder(playing_statistics_17)
playing_statistics_18 = result_onehotencoder(playing_statistics_18)
playing_statistics_19 = result_onehotencoder(playing_statistics_19)
playing_statistics_20 = result_onehotencoder(playing_statistics_20)
playing_statistics_21 = result_onehotencoder(playing_statistics_21)
playing_statistics_22 = result_onehotencoder(playing_statistics_22)

playing_statistics_5

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
0,Aston Villa,Southampton,2,0,2,0,14,6,5,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
1,Blackburn,West Brom,1,1,0,1,12,4,4,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
2,Bolton,Charlton,4,1,2,0,21,9,11,5,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
3,Man City,Fulham,1,1,1,0,12,4,5,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
4,Middlesbrough,Newcastle,2,2,0,1,15,11,8,4,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Man City,Middlesbrough,1,1,0,1,10,4,5,3,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
376,Newcastle,Chelsea,1,1,1,1,8,12,4,7,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
377,Southampton,Man United,1,2,1,1,11,16,3,8,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
378,Tottenham,Blackburn,0,0,0,0,11,12,7,8,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
379,West Brom,Portsmouth,2,0,0,0,9,8,5,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0

In [9]:
# 데이터 합치기

df_total_list = [playing_statistics_1, playing_statistics_2, playing_statistics_3, playing_statistics_4, \
                              playing_statistics_5, playing_statistics_6, playing_statistics_7, playing_statistics_8, \
                              playing_statistics_9, playing_statistics_10, playing_statistics_11, playing_statistics_12, \
                              playing_statistics_13, playing_statistics_14, playing_statistics_15, playing_statistics_16, \
                              playing_statistics_17, playing_statistics_18, playing_statistics_19, playing_statistics_20, \
                              playing_statistics_21, playing_statistics_22]
playing_statistics_total = pd.concat(df_total_list)
playing_statistics_total

,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
0,Charlton,Man City,4,0,2,0,17,8,14,4,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
1,Chelsea,West Ham,4,2,1,0,17,12,10,5,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
2,Coventry,Middlesbrough,1,3,1,1,6,16,3,9,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
3,Derby,Southampton,2,2,1,2,6,13,4,6,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
4,Leeds,Everton,2,0,2,0,17,12,8,6,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,1,0,1,0,6,10,3,4,...,0,0.35,0.78,0.84,0.78,0.35,1.75,1.0,0.0,0.0
376,Leicester,Southampton,4,1,0,0,12,7,6,2,...,0,3.42,1.05,2.79,1.05,3.42,0.14,1.0,0.0,0.0
377,Liverpool,Wolves,3,1,1,1,29,7,8,5,...,0,3.19,1.12,2.61,1.12,3.19,0.28,1.0,0.0,0.0
378,Man City,Aston Villa,3,2,0,1,24,4,5,2,...,0,3.32,0.25,2.95,0.25,3.32,0.03,1.0,0.0,0.0
379,Norwich,Tottenham,0,5,0,2,9,19,0,13,...,0,0.31,3.81,0.02,3.81,0.31,2.96,0.0,0.0,1.0

In [10]:
## 원-핫 인코딩
# HomeTeam 인코딩

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False)

df_temp = playing_statistics_total['HomeTeam']
df_temp = df_temp.to_numpy()
df_temp = df_temp.reshape(-1, 1)
ohe.fit(df_temp)
onehot_temp = ohe.transform(df_temp)

onehot_temp_table_home = pd.DataFrame(onehot_temp)

# 인코딩 레이블명 변경
temp = playing_statistics_total['HomeTeam'].unique()
temp.sort()
temp = ['Home_'+i for i in temp]
onehot_temp_table_home.columns = temp

# AwayTeam 인코딩
ohe = OneHotEncoder(sparse=False)

df_temp = playing_statistics_total['AwayTeam']
df_temp = df_temp.to_numpy()
df_temp = df_temp.reshape(-1, 1)
ohe.fit(df_temp)
onehot_temp = ohe.transform(df_temp)

onehot_temp_table_away = pd.DataFrame(onehot_temp)

# 인코딩 레이블명 변경
temp = playing_statistics_total['AwayTeam'].unique()
temp.sort()
temp = ['Away_'+i for i in temp]
onehot_temp_table_away.columns = temp

onehot_temp_table_away

,Away_Arsenal,Away_Aston Villa,Away_Birmingham,Away_Blackburn,Away_Blackpool,Away_Bolton,Away_Bournemouth,Away_Bradford,Away_Brentford,Away_Brighton,...,Away_Southampton,Away_Stoke,Away_Sunderland,Away_Swansea,Away_Tottenham,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8358,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# 인덱스 초기화
playing_statistics_total = playing_statistics_total.reset_index()

In [12]:
# 인코딩 데이터 합치기
playing_statistics_total_final = pd.concat([onehot_temp_table_home, onehot_temp_table_away, playing_statistics_total], axis=1)

# 팀명(문자열) 레이블 제거
playing_statistics_total_final = playing_statistics_total_final.drop(['HomeTeam', 'AwayTeam'], axis=1)

playing_statistics_total_final

,Home_Arsenal,Home_Aston Villa,Home_Birmingham,Home_Blackburn,Home_Blackpool,Home_Bolton,Home_Bournemouth,Home_Bradford,Home_Brentford,Home_Brighton,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.35,0.78,0.84,0.78,0.35,1.75,1.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.42,1.05,2.79,1.05,3.42,0.14,1.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.19,1.12,2.61,1.12,3.19,0.28,1.0,0.0,0.0
8358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.32,0.25,2.95,0.25,3.32,0.03,1.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.31,3.81,0.02,3.81,0.31,2.96,0.0,0.0,1.0

In [13]:
# KNN을 활용한 Imputation(보간)
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2)

df_xG_KNN = imputer.fit_transform(playing_statistics_total_final)
df_xG_KNN

array([[0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [14]:
# array to DataFrame

df_temp = pd.DataFrame(df_xG_KNN, columns=playing_statistics_total_final.columns)
df_temp

,Home_Arsenal,Home_Aston Villa,Home_Birmingham,Home_Blackburn,Home_Blackpool,Home_Bolton,Home_Bournemouth,Home_Bradford,Home_Brentford,Home_Brighton,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.105,1.015,2.175,1.015,2.105,0.605,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.965,1.010,2.090,1.010,1.965,0.660,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.115,1.690,0.890,1.690,1.115,1.820,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.950,2.105,0.845,2.105,0.950,1.980,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.850,1.785,1.390,1.785,1.850,1.395,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.350,0.780,0.840,0.780,0.350,1.750,1.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.420,1.050,2.790,1.050,3.420,0.140,1.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.190,1.120,2.610,1.120,3.190,0.280,1.0,0.0,0.0
8358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.320,0.250,2.950,0.250,3.320,0.030,1.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.310,3.810,0.020,3.810,0.310,2.960,0.0,0.0,1.0

In [15]:
# 데이터 다시 나누기

season_index = 380

playing_statistics_1 = df_temp[:season_index]
playing_statistics_2 = df_temp[season_index:season_index*2]
playing_statistics_3 = df_temp[season_index*2:season_index*3]
playing_statistics_4 = df_temp[season_index*3:season_index*4]
playing_statistics_5 = df_temp[season_index*4:season_index*5]
playing_statistics_6 = df_temp[season_index*5:season_index*6]
playing_statistics_7 = df_temp[season_index*6:season_index*7]
playing_statistics_8 = df_temp[season_index*7:season_index*8]
playing_statistics_9 = df_temp[season_index*8:season_index*9]
playing_statistics_10 = df_temp[season_index*9:season_index*10]
playing_statistics_11 = df_temp[season_index*10:season_index*11] 
playing_statistics_12 = df_temp[season_index*11:season_index*12]
playing_statistics_13 = df_temp[season_index*12:season_index*13]
playing_statistics_14 = df_temp[season_index*13:season_index*14]
playing_statistics_15 = df_temp[season_index*14:season_index*15]
playing_statistics_16 = df_temp[season_index*15:season_index*16]
playing_statistics_17 = df_temp[season_index*16:season_index*17]
playing_statistics_18 = df_temp[season_index*17:season_index*18]
playing_statistics_19 = df_temp[season_index*18:season_index*19]
playing_statistics_20 = df_temp[season_index*19:season_index*20]
playing_statistics_21 = df_temp[season_index*20:season_index*21]
playing_statistics_22 = df_temp[season_index*21:]

playing_statistics_22

,Home_Arsenal,Home_Aston Villa,Home_Birmingham,Home_Blackburn,Home_Blackpool,Home_Bolton,Home_Bournemouth,Home_Bradford,Home_Brentford,Home_Brighton,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
7980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.89,1.02,2.12,1.02,1.89,0.66,1.0,0.0,0.0
7981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.64,0.57,2.22,0.57,1.64,0.55,1.0,0.0,0.0
7982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.80,1.69,1.46,1.69,1.80,1.26,0.0,0.0,1.0
7983,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.19,0.32,2.20,0.32,1.19,0.51,1.0,0.0,0.0
7984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.39,0.58,2.63,0.58,2.39,0.25,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.35,0.78,0.84,0.78,0.35,1.75,1.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.42,1.05,2.79,1.05,3.42,0.14,1.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.19,1.12,2.61,1.12,3.19,0.28,1.0,0.0,0.0
8358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.32,0.25,2.95,0.25,3.32,0.03,1.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.31,3.81,0.02,3.81,0.31,2.96,0.0,0.0,1.0

In [16]:
# 인덱스 초기화
playing_statistics_1 = playing_statistics_1.reset_index()
playing_statistics_2 = playing_statistics_2.reset_index()
playing_statistics_3 = playing_statistics_3.reset_index()
playing_statistics_4 = playing_statistics_4.reset_index()
playing_statistics_5 = playing_statistics_5.reset_index()
playing_statistics_6 = playing_statistics_6.reset_index()
playing_statistics_7 = playing_statistics_7.reset_index()
playing_statistics_8 = playing_statistics_8.reset_index()
playing_statistics_9 = playing_statistics_9.reset_index()
playing_statistics_10 = playing_statistics_10.reset_index()
playing_statistics_11 = playing_statistics_11.reset_index()
playing_statistics_12 = playing_statistics_12.reset_index()
playing_statistics_13 = playing_statistics_13.reset_index()
playing_statistics_14 = playing_statistics_14.reset_index()
playing_statistics_15 = playing_statistics_15.reset_index()
playing_statistics_16 = playing_statistics_16.reset_index()
playing_statistics_17 = playing_statistics_17.reset_index()
playing_statistics_18 = playing_statistics_18.reset_index()
playing_statistics_19 = playing_statistics_19.reset_index()
playing_statistics_20 = playing_statistics_20.reset_index()
playing_statistics_21 = playing_statistics_21.reset_index()
playing_statistics_22 = playing_statistics_22.reset_index()

playing_statistics_10

,level_0,Home_Arsenal,Home_Aston Villa,Home_Birmingham,Home_Blackburn,Home_Blackpool,Home_Bolton,Home_Bournemouth,Home_Bradford,Home_Brentford,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
0,3420,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.135,0.645,1.785,0.645,1.135,0.900,0.0,0.0,1.0
1,3421,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.140,0.825,1.575,0.825,1.140,1.150,0.0,0.0,1.0
2,3422,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.845,2.155,0.480,2.155,0.845,2.325,0.0,0.0,1.0
3,3423,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.285,1.005,2.285,1.005,2.285,0.520,1.0,0.0,0.0
4,3424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.400,2.490,0.170,2.490,0.400,2.745,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,3795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.470,0.945,2.470,0.945,2.470,0.375,1.0,0.0,0.0
376,3796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.200,1.425,1.165,1.425,1.200,1.540,0.0,1.0,0.0
377,3797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.540,0.920,2.475,0.920,2.540,0.365,1.0,0.0,0.0
378,3798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.095,1.120,2.090,1.120,2.095,0.690,0.0,1.0,0.0
379,3799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.310,0.905,1.695,0.905,1.310,0.975,1.0,0.0,0.0

In [17]:
## 팀명(HomeTeam, AwayTeam) 붙이기
# 전처리 위함

playing_statistics_1 = pd.concat([playing_statistics_1, raw_data_1[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_2 = pd.concat([playing_statistics_2, raw_data_2[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_3 = pd.concat([playing_statistics_3, raw_data_3[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_4 = pd.concat([playing_statistics_4, raw_data_4[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_5 = pd.concat([playing_statistics_5, raw_data_5[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_6 = pd.concat([playing_statistics_6, raw_data_6[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_7 = pd.concat([playing_statistics_7, raw_data_7[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_8 = pd.concat([playing_statistics_8, raw_data_8[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_9 = pd.concat([playing_statistics_9, raw_data_9[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_10 = pd.concat([playing_statistics_10, raw_data_10[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_11 = pd.concat([playing_statistics_11, raw_data_11[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_12 = pd.concat([playing_statistics_12, raw_data_12[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_13 = pd.concat([playing_statistics_13, raw_data_13[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_14 = pd.concat([playing_statistics_14, raw_data_14[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_15 = pd.concat([playing_statistics_15, raw_data_15[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_16 = pd.concat([playing_statistics_16, raw_data_16[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_17 = pd.concat([playing_statistics_17, raw_data_17[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_18 = pd.concat([playing_statistics_18, raw_data_18[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_19 = pd.concat([playing_statistics_19, raw_data_19[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_20 = pd.concat([playing_statistics_20, raw_data_20[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_21 = pd.concat([playing_statistics_21, raw_data_21[['HomeTeam', 'AwayTeam']]], axis=1)
playing_statistics_22 = pd.concat([playing_statistics_22, raw_data_22[['HomeTeam', 'AwayTeam']]], axis=1)

playing_statistics_13

,level_0,Home_Arsenal,Home_Aston Villa,Home_Birmingham,Home_Blackburn,Home_Blackpool,Home_Bolton,Home_Bournemouth,Home_Bradford,Home_Brentford,...,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away,HomeTeam,AwayTeam
0,4560,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.590,1.645,0.590,0.930,1.030,0.0,1.0,0.0,Arsenal,Sunderland
1,4561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.445,2.210,0.445,1.415,0.530,1.0,0.0,0.0,Fulham,Norwich
2,4562,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.350,0.615,2.350,0.930,2.205,1.0,0.0,0.0,Newcastle,Tottenham
3,4563,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.270,1.530,1.270,1.605,1.205,0.0,0.0,1.0,QPR,Swansea
4,4564,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.500,1.265,0.500,0.505,1.260,0.0,1.0,0.0,Reading,Stoke
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,4935,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.310,1.895,1.310,2.080,0.900,0.0,0.0,1.0,Swansea,Fulham
376,4936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.080,2.720,1.080,3.620,0.190,1.0,0.0,0.0,Tottenham,Sunderland
377,4937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.680,1.820,1.680,2.305,0.925,0.0,1.0,0.0,West Brom,Man United
378,4938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.550,1.355,2.550,2.465,1.450,1.0,0.0,0.0,West Ham,Reading
379,4939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.460,2.365,0.460,1.680,0.425,0.0,1.0,0.0,Wigan,Aston Villa

In [18]:
# # FTR column 추가

# playing_statistics_1 = pd.concat([playing_statistics_1, raw_data_1[['FTR']]], axis=1)
# playing_statistics_2 = pd.concat([playing_statistics_2, raw_data_2[['FTR']]], axis=1)
# playing_statistics_3 = pd.concat([playing_statistics_3, raw_data_3[['FTR']]], axis=1)
# playing_statistics_4 = pd.concat([playing_statistics_4, raw_data_4[['FTR']]], axis=1)
# playing_statistics_5 = pd.concat([playing_statistics_5, raw_data_5[['FTR']]], axis=1)
# playing_statistics_6 = pd.concat([playing_statistics_6, raw_data_6[['FTR']]], axis=1)
# playing_statistics_7 = pd.concat([playing_statistics_7, raw_data_7[['FTR']]], axis=1)
# playing_statistics_8 = pd.concat([playing_statistics_8, raw_data_8[['FTR']]], axis=1)
# playing_statistics_9 = pd.concat([playing_statistics_9, raw_data_9[['FTR']]], axis=1)
# playing_statistics_10 = pd.concat([playing_statistics_10, raw_data_10[['FTR']]], axis=1)
# playing_statistics_11 = pd.concat([playing_statistics_11, raw_data_11[['FTR']]], axis=1)
# playing_statistics_12 = pd.concat([playing_statistics_12, raw_data_12[['FTR']]], axis=1)
# playing_statistics_13 = pd.concat([playing_statistics_13, raw_data_13[['FTR']]], axis=1)
# playing_statistics_14 = pd.concat([playing_statistics_14, raw_data_14[['FTR']]], axis=1)
# playing_statistics_15 = pd.concat([playing_statistics_15, raw_data_15[['FTR']]], axis=1)
# playing_statistics_16 = pd.concat([playing_statistics_16, raw_data_16[['FTR']]], axis=1)
# playing_statistics_17 = pd.concat([playing_statistics_17, raw_data_17[['FTR']]], axis=1)
# playing_statistics_18 = pd.concat([playing_statistics_18, raw_data_18[['FTR']]], axis=1)
# playing_statistics_19 = pd.concat([playing_statistics_19, raw_data_19[['FTR']]], axis=1)
# playing_statistics_20 = pd.concat([playing_statistics_20, raw_data_20[['FTR']]], axis=1)
# playing_statistics_21 = pd.concat([playing_statistics_21, raw_data_21[['FTR']]], axis=1)
# playing_statistics_22 = pd.concat([playing_statistics_22, raw_data_22[['FTR']]], axis=1)

In [19]:
# 홈/원정 팀 골득실 전처리
# 슈팅 개수, 유효슈팅 개수 전처리

def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    GoalsScored[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
#     print(GoalsScored)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]

#     print(GoalsScored)
    return GoalsScored
    
    
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
#     print(match_round_len)
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
        
#     print(GoalsConceded)
    return GoalsConceded


# def get_etc_stats(playing_stat):
    
# 슈팅 개수 전처리
def get_shoots(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HS = playing_stat.iloc[i]['HS']
        AS = playing_stat.iloc[i]['AS']
        teams[playing_stat.iloc[i].HomeTeam].append(HS)
        teams[playing_stat.iloc[i].AwayTeam].append(AS)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    Shoots = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    Shoots[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        Shoots[i] = Shoots[i] + Shoots[i-1]

#     print(GoalsScored)
    return Shoots


# 유효 슈팅 개수 전처리
def get_shoots_on_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HST = playing_stat.iloc[i]['HST']
        AST = playing_stat.iloc[i]['AST']
        teams[playing_stat.iloc[i].HomeTeam].append(HST)
        teams[playing_stat.iloc[i].AwayTeam].append(AST)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    ShootsOnTarget = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    ShootsOnTarget[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        ShootsOnTarget[i] = ShootsOnTarget[i] + ShootsOnTarget[i-1]

#     print(GoalsScored)
    return ShootsOnTarget

def get_xG(playing_stat):
    
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        temp_Home = playing_stat.iloc[i]['Home_xG']
        temp_Away = playing_stat.iloc[i]['Away_xG']
        teams[playing_stat.iloc[i].HomeTeam].append(temp_Home)
        teams[playing_stat.iloc[i].AwayTeam].append(temp_Away)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    xG = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    xG[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        xG[i] = xG[i] + xG[i-1]
        
    return xG


def get_xA(playing_stat):
    
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        temp_Home = playing_stat.iloc[i]['Home_xA']
        temp_Away = playing_stat.iloc[i]['Away_xA']
        teams[playing_stat.iloc[i].HomeTeam].append(temp_Home)
        teams[playing_stat.iloc[i].AwayTeam].append(temp_Away)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    xA = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    xA[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        xA[i] = xA[i] + xA[i-1]
        
    return xA


def get_xPTS(playing_stat):
    
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        temp_Home = playing_stat.iloc[i]['Home_xPTS']
        temp_Away = playing_stat.iloc[i]['Away_xPTS']
        teams[playing_stat.iloc[i].HomeTeam].append(temp_Home)
        teams[playing_stat.iloc[i].AwayTeam].append(temp_Away)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    xPTS = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    xPTS[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        xPTS[i] = xPTS[i] + xPTS[i-1]
        
    return xPTS




# 'Home_xG', 'Home_xA', 'Home_xPTS', 'Away_xPTS',
def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
    S = get_shoots(playing_stat)
    SoT = get_shoots_on_target(playing_stat)
    xG = get_xG(playing_stat)
    xA = get_xA(playing_stat)
    xPTS = get_xPTS(playing_stat)

    j = 0
    HTGS = []    # 홈 팀 넣은 골
    ATGS = []    # 원정 팀 넣은 골
    HTGC = []    # 홈 팀 먹힌 골
    ATGC = []    # 원정 팀 먹힌 골
    HS = []      # 홈 팀 슈팅 개수
    AS = []      # 원정 팀 슈팅 개수
    HTSoT = []      # 홈 팀 슈팅 개수
    ATSoT = []      # 원정 팀 슈팅 개수
    Home_xG = []
    Away_xG = []
    Home_xA = []
    Away_xA = []
    Home_xPTS = []
    Away_xPTS = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        HS.append(S.loc[ht][j])
        AS.append(S.loc[at][j])
        HTSoT.append(SoT.loc[ht][j])
        ATSoT.append(SoT.loc[at][j])
        Home_xG.append(xG.loc[ht][j])
        Away_xG.append(xG.loc[at][j])
        Home_xA.append(xA.loc[ht][j])
        Away_xA.append(xA.loc[at][j])
        Home_xPTS.append(xPTS.loc[ht][j])
        Away_xPTS.append(xPTS.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
    df_temp = pd.DataFrame()
    
    df_temp['HomeTeam'] = playing_stat['HomeTeam']
    df_temp['AwayTeam'] = playing_stat['AwayTeam']
    
    df_temp['HTGS'] = HTGS
    df_temp['ATGS'] = ATGS
    df_temp['HTGC'] = HTGC
    df_temp['ATGC'] = ATGC
    
    df_temp['HS'] = HS
    df_temp['AS'] = AS
    df_temp['HST'] = HTSoT
    df_temp['AST'] = ATSoT
    
    df_temp['Home_xG'] = Home_xG
    df_temp['Away_xG'] = Away_xG
    df_temp['Home_xA'] = Home_xA
    df_temp['Away_xA'] = Away_xA
    df_temp['Home_xPTS'] = Home_xPTS
    df_temp['Away_xPTS'] = Away_xPTS
    
    columns = ['Home_Arsenal', 'Home_Aston Villa', 'Home_Birmingham', 'Home_Blackburn', 'Home_Blackpool', 'Home_Bolton', 'Home_Bournemouth', 'Home_Bradford', 'Home_Brentford', 'Home_Brighton', 'Home_Burnley', 'Home_Cardiff', 'Home_Charlton', 'Home_Chelsea', 'Home_Coventry', 'Home_Crystal Palace', 'Home_Derby', 'Home_Everton', 'Home_Fulham', 'Home_Huddersfield', 'Home_Hull', 'Home_Ipswich', 'Home_Leeds', 'Home_Leicester', 'Home_Liverpool', 'Home_Man City', 'Home_Man United', 'Home_Middlesboro', 'Home_Middlesbrough', 'Home_Newcastle', 'Home_Norwich', 'Home_Portsmouth', 'Home_QPR', 'Home_Reading', 'Home_Sheffield United', 'Home_Southampton', 'Home_Stoke', 'Home_Sunderland', 'Home_Swansea', 'Home_Tottenham', 'Home_Watford', 'Home_West Brom', 'Home_West Ham', 'Home_Wigan', 'Home_Wolves', 'Away_Arsenal', 'Away_Aston Villa', 'Away_Birmingham', 'Away_Blackburn', 'Away_Blackpool', 'Away_Bolton', 'Away_Bournemouth', 'Away_Bradford', 'Away_Brentford', 'Away_Brighton', 'Away_Burnley', 'Away_Cardiff', 'Away_Charlton', 'Away_Chelsea', 'Away_Coventry', 'Away_Crystal Palace', 'Away_Derby', 'Away_Everton', 'Away_Fulham', 'Away_Huddersfield', 'Away_Hull', 'Away_Ipswich', 'Away_Leeds', 'Away_Leicester', 'Away_Liverpool', 'Away_Man City', 'Away_Man United', 'Away_Middlesboro', 'Away_Middlesbrough', 'Away_Newcastle', 'Away_Norwich', 'Away_Portsmouth', 'Away_QPR', 'Away_Reading', 'Away_Sheffield United', 'Away_Southampton', 'Away_Stoke', 'Away_Sunderland', 'Away_Swansea', 'Away_Tottenham', 'Away_Watford', 'Away_West Brom', 'Away_West Ham', 'Away_Wigan', 'Away_Wolves', 'Home', 'draw', 'Away']
    df_temp = pd.concat([df_temp, playing_stat[columns]], axis=1)
    
#     print(playing_stat)
    
#     playing_stat.drop(['FTHG', 'FTAG'], axis=1, inplace=True)
    
    return df_temp
    

playing_statistics_1 = get_gss(playing_statistics_1)
playing_statistics_2 = get_gss(playing_statistics_2)
playing_statistics_3 = get_gss(playing_statistics_3)
playing_statistics_4 = get_gss(playing_statistics_4)
playing_statistics_5 = get_gss(playing_statistics_5)
playing_statistics_6 = get_gss(playing_statistics_6)
playing_statistics_7 = get_gss(playing_statistics_7)
playing_statistics_8 = get_gss(playing_statistics_8)
playing_statistics_9 = get_gss(playing_statistics_9)
playing_statistics_10 = get_gss(playing_statistics_10)
playing_statistics_11 = get_gss(playing_statistics_11)
playing_statistics_12 = get_gss(playing_statistics_12)
playing_statistics_13 = get_gss(playing_statistics_13)
playing_statistics_14 = get_gss(playing_statistics_14)
playing_statistics_15 = get_gss(playing_statistics_15)
playing_statistics_16 = get_gss(playing_statistics_16)
playing_statistics_17 = get_gss(playing_statistics_17)
playing_statistics_18 = get_gss(playing_statistics_18)
playing_statistics_19 = get_gss(playing_statistics_19)
playing_statistics_20 = get_gss(playing_statistics_20)
playing_statistics_21 = get_gss(playing_statistics_21)
playing_statistics_22 = get_gss(playing_statistics_22)

playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,...,Away_Swansea,Away_Tottenham,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,Home,draw,Away
0,Brentford,Arsenal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Man United,Leeds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Burnley,Brighton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Chelsea,Crystal Palace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Everton,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
376,Leicester,Southampton,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
377,Liverpool,Wolves,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
378,Man City,Aston Villa,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
379,Norwich,Tottenham,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [20]:
# for column in playing_statistics_18:
#     print("'" + column + "'" + ', ', end='')

In [21]:
## 각 경기마다 팀별 누적승점 전처리

def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
    
#     print(teams)
    
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
#     print(playing_stat)
    matchres = get_matchres(playing_stat)       # 팀별 경기결과 전처리
#     print(matchres)
    cum_pts = get_cuml_points(matchres)         # 팀별 누적승점 전처리
#     print(cum_pts)

    # 각 경기마다 팀별 누적승점 전처리
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
#         print(ht)
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
#     print(playing_stat)
    
    df_temp = pd.DataFrame()
    
    df_temp['HTP'] = HTP
    df_temp['ATP'] = ATP
    
#     playing_stat['HTP'] = HTP
#     playing_stat['ATP'] = ATP
    
#     print(playing_stat)
    
    return df_temp

# Apply to each dataset
playing_statistics_1 = pd.concat([playing_statistics_1, get_agg_points(raw_data_1)], axis=1)
playing_statistics_2 = pd.concat([playing_statistics_2, get_agg_points(raw_data_2)], axis=1)
playing_statistics_3 = pd.concat([playing_statistics_3, get_agg_points(raw_data_3)], axis=1)
playing_statistics_4 = pd.concat([playing_statistics_4, get_agg_points(raw_data_4)], axis=1)
playing_statistics_5 = pd.concat([playing_statistics_5, get_agg_points(raw_data_5)], axis=1)
playing_statistics_6 = pd.concat([playing_statistics_6, get_agg_points(raw_data_6)], axis=1)
playing_statistics_7 = pd.concat([playing_statistics_7, get_agg_points(raw_data_7)], axis=1)
playing_statistics_8 = pd.concat([playing_statistics_8, get_agg_points(raw_data_8)], axis=1)
playing_statistics_9 = pd.concat([playing_statistics_9, get_agg_points(raw_data_9)], axis=1)
playing_statistics_10 = pd.concat([playing_statistics_10, get_agg_points(raw_data_10)], axis=1)
playing_statistics_11 = pd.concat([playing_statistics_11, get_agg_points(raw_data_11)], axis=1)
playing_statistics_12 = pd.concat([playing_statistics_12, get_agg_points(raw_data_12)], axis=1)
playing_statistics_13 = pd.concat([playing_statistics_13, get_agg_points(raw_data_13)], axis=1)
playing_statistics_14 = pd.concat([playing_statistics_14, get_agg_points(raw_data_14)], axis=1)
playing_statistics_15 = pd.concat([playing_statistics_15, get_agg_points(raw_data_15)], axis=1)
playing_statistics_16 = pd.concat([playing_statistics_16, get_agg_points(raw_data_16)], axis=1)
playing_statistics_17 = pd.concat([playing_statistics_17, get_agg_points(raw_data_17)], axis=1)
playing_statistics_18 = pd.concat([playing_statistics_18, get_agg_points(raw_data_18)], axis=1)
playing_statistics_19 = pd.concat([playing_statistics_19, get_agg_points(raw_data_19)], axis=1)
playing_statistics_20 = pd.concat([playing_statistics_20, get_agg_points(raw_data_20)], axis=1)
playing_statistics_21 = pd.concat([playing_statistics_21, get_agg_points(raw_data_21)], axis=1)
playing_statistics_22 = pd.concat([playing_statistics_22, get_agg_points(raw_data_22)], axis=1)

playing_statistics_5

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,...,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,Home,draw,Away,HTP,ATP
0,Aston Villa,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
1,Blackburn,West Brom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0
2,Bolton,Charlton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
3,Man City,Fulham,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0
4,Middlesbrough,Newcastle,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Man City,Middlesbrough,46.0,52.0,38.0,45.0,390.0,448.0,205.0,256.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,51,54
376,Newcastle,Chelsea,46.0,71.0,56.0,14.0,477.0,521.0,251.0,297.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,43,94
377,Southampton,Man United,44.0,56.0,64.0,25.0,373.0,601.0,186.0,326.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,32,74
378,Tottenham,Blackburn,47.0,32.0,41.0,43.0,444.0,423.0,242.0,202.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,51,41
379,West Brom,Portsmouth,34.0,43.0,61.0,57.0,332.0,372.0,178.0,189.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31,39

In [22]:
# 데이터 합치기
playing_statistics_list = [playing_statistics_1, playing_statistics_2, playing_statistics_3, playing_statistics_4, \
                              playing_statistics_5, playing_statistics_6, playing_statistics_7, playing_statistics_8, \
                              playing_statistics_9, playing_statistics_10, playing_statistics_11, playing_statistics_12, \
                              playing_statistics_13, playing_statistics_14, playing_statistics_15, playing_statistics_16, \
                              playing_statistics_17, playing_statistics_18, playing_statistics_19, playing_statistics_20, \
                              playing_statistics_21, playing_statistics_22]

playing_statistics_total = pd.concat(playing_statistics_list, ignore_index=True)

In [23]:
# HomeTeam, AwayTeam 제거
playing_statistics_total = playing_statistics_total.drop(['HomeTeam', 'AwayTeam', 'Away_xA', 'Away_xG'], axis=1)

playing_statistics_total

,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,Home_xG,Home_xA,...,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,Home,draw,Away,HTP,ATP
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,48.50,40.55,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,45,58
8356,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,46.07,65.05,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,49,40
8357,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89.83,31.61,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,89,51
8358,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90.07,24.98,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,90,45
8359,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,31.19,76.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22,68

In [24]:
for column in playing_statistics_total:
    print(column)

HTGS
ATGS
HTGC
ATGC
HS
AS
HST
AST
Home_xG
Home_xA
Home_xPTS
Away_xPTS
Home_Arsenal
Home_Aston Villa
Home_Birmingham
Home_Blackburn
Home_Blackpool
Home_Bolton
Home_Bournemouth
Home_Bradford
Home_Brentford
Home_Brighton
Home_Burnley
Home_Cardiff
Home_Charlton
Home_Chelsea
Home_Coventry
Home_Crystal Palace
Home_Derby
Home_Everton
Home_Fulham
Home_Huddersfield
Home_Hull
Home_Ipswich
Home_Leeds
Home_Leicester
Home_Liverpool
Home_Man City
Home_Man United
Home_Middlesboro
Home_Middlesbrough
Home_Newcastle
Home_Norwich
Home_Portsmouth
Home_QPR
Home_Reading
Home_Sheffield United
Home_Southampton
Home_Stoke
Home_Sunderland
Home_Swansea
Home_Tottenham
Home_Watford
Home_West Brom
Home_West Ham
Home_Wigan
Home_Wolves
Away_Arsenal
Away_Aston Villa
Away_Birmingham
Away_Blackburn
Away_Blackpool
Away_Bolton
Away_Bournemouth
Away_Bradford
Away_Brentford
Away_Brighton
Away_Burnley
Away_Cardiff
Away_Charlton
Away_Chelsea
Away_Coventry
Away_Crystal Palace
Away_Derby
Away_Everton
Away_Fulham
Away_Huddersfield
Away_Hull
Away_Ipswich
Away_Leeds
Away_Leicester
Away_Liverpool
Away_Man City
Away_Man United
Away_Middlesboro
Away_Middlesbrough
Away_Newcastle
Away_Norwich
Away_Portsmouth
Away_QPR
Away_Reading
Away_Sheffield United
Away_Southampton
Away_Stoke
Away_Sunderland
Away_Swansea
Away_Tottenham
Away_Watford
Away_West Brom
Away_West Ham
Away_Wigan
Away_Wolves
Home
draw
Away
HTP
ATP

In [25]:
len(playing_statistics_total.loc[0])

107

In [26]:
# 데이터 나누기
train_len = 380 * 21

playing_statistics_train = playing_statistics_total[:train_len]
playing_statistics_test = playing_statistics_total[train_len:]

playing_statistics_train

,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,Home_xG,Home_xA,...,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,Home,draw,Away,HTP,ATP
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,66.0,41.0,42.0,64.0,589.0,344.0,209.0,127.0,70.00,46.53,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,66,44
7976,78.0,47.0,32.0,43.0,583.0,392.0,208.0,145.0,74.83,29.55,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,83,59
7977,19.0,33.0,63.0,54.0,313.0,374.0,96.0,127.0,32.75,65.58,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,20,39
7978,59.0,47.0,47.0,65.0,454.0,406.0,158.0,161.0,58.35,48.52,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,62,43
7979,35.0,71.0,50.0,43.0,448.0,512.0,150.0,208.0,37.92,50.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,45,71

In [27]:
# X, Y 나누기
X_train = pd.concat([playing_statistics_train.loc[:, "HTGS":"Away_Wolves"], playing_statistics_train.loc[:, "HTP":"ATP"]], axis=1)
y_train = playing_statistics_train.loc[:, "Home":"Away"]

X_test = pd.concat([playing_statistics_test.loc[:, "HTGS":"Away_Wolves"], playing_statistics_test.loc[:, "HTP":"ATP"]], axis=1)
y_test = playing_statistics_test.loc[:, "Home":"Away"]

# X_test.loc[:,"Middlesbrough"]

X_test

,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,Home_xG,Home_xA,...,Away_Sunderland,Away_Swansea,Away_Tottenham,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,HTP,ATP
7980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
7981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
7982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
7983,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
7984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,48.50,40.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45,58
8356,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,46.07,65.05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49,40
8357,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89.83,31.61,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,89,51
8358,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90.07,24.98,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90,45
8359,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,31.19,76.29,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,22,68

In [28]:
# # 정규화

# from sklearn.preprocessing import StandardScaler
# scaler_1 = StandardScaler()
# X_train = scaler_1.fit_transform(X_train)
# scaler_2 = StandardScaler()
# X_test = scaler_2.fit_transform(X_test)

In [29]:
X_train.shape[0]

7980

In [30]:
X_train.shape[1]

104

In [31]:
# lstm 입력층에 맞게 reshape-

import numpy as np
X_train = np.array(X_train).reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = np.array(X_test).reshape(X_test.shape[0], X_test.shape[1], 1)

In [32]:
from keras.models import Sequential, Model
from keras.layers import Dense, LSTM, Input, GRU

In [33]:
# from tensorflow.python.client import device_lib
# device_lib.list_local_devices()

In [34]:
def classic_sequence_classifier_gru():
    input = Input(shape=(104, 1))
    x = GRU(64, activation='tanh', return_sequences=True)(input)
    x = GRU(64, activation='tanh', return_sequences=True)(x)
    x = GRU(64, activation='tanh')(x)
    x = Dense(3, activation='softmax')(x)
    return Model(input, x)

classic_model_1 = classic_sequence_classifier_gru()

classic_model_1.summary()

2022-09-14 01:26:53.914901: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-09-14 01:26:55.915781: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 14789 MB memory:  -> device: 0, name: Quadro RTX 5000, pci bus id: 0000:3b:00.0, compute capability: 7.5
2022-09-14 01:26:55.916919: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:1 with 14789 MB memory:  -> device: 1, name: Quadro RTX 5000, pci bus id: 0000:5e:00.0, compute capability: 7.5
2022-09-14 01:26:55.917912: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:2 with 14789 MB memory:  -> device: 2, name: Quadro RTX 5000, pci bus id: 0000:86:00.0, compute capability: 7.5
2022-09-14 01:26:55.918894: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1525] Created device /job:localhost/replica:0/task:0/device:GPU:3 with 14695 MB memory:  -> device: 3, name: Quadro RTX 5000, pci bus id: 0000:af:00.0, compute capability: 7.5

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 104, 1)]          0

 gru (GRU)                   (None, 104, 64)           12864

 gru_1 (GRU)                 (None, 104, 64)           24960

 gru_2 (GRU)                 (None, 64)                24960

 dense (Dense)               (None, 3)                 195

=================================================================
Total params: 62,979
Trainable params: 62,979
Non-trainable params: 0
_________________________________________________________________

In [ ]:
from keras.callbacks import EarlyStopping
es = EarlyStopping(monitor='loss', verbose=1, patience=5)

classic_model_1.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
history1 = classic_model_1.fit(X_train, y_train, epochs=1000, batch_size=38, callbacks=[es])

Epoch 1/1000

2022-09-14 01:26:59.408695: I tensorflow/stream_executor/cuda/cuda_dnn.cc:368] Loaded cuDNN version 8100

210/210 [==============================] - 10s 32ms/step - loss: 1.0429 - accuracy: 0.4773
Epoch 2/1000
210/210 [==============================] - 7s 32ms/step - loss: 1.0091 - accuracy: 0.5081
Epoch 3/1000
210/210 [==============================] - 7s 32ms/step - loss: 1.0064 - accuracy: 0.5094
Epoch 4/1000
210/210 [==============================] - 7s 32ms/step - loss: 1.0053 - accuracy: 0.5094
Epoch 5/1000
210/210 [==============================] - 7s 32ms/step - loss: 1.0033 - accuracy: 0.5088
Epoch 6/1000
210/210 [==============================] - 7s 32ms/step - loss: 1.0055 - accuracy: 0.5081
Epoch 7/1000
210/210 [==============================] - 7s 32ms/step - loss: 1.0051 - accuracy: 0.5080
Epoch 8/1000
 13/210 [>.............................] - ETA: 6s - loss: 1.0076 - accuracy: 0.5040

In [ ]:
# # 1번 모델
# def classic_sequence_classifier_1():
#     input = Input(shape=(104, 1))
#     x = LSTM(32, activation='tanh', return_sequences=True)(input)
#     x = LSTM(32, activation='tanh', return_sequences=True)(x)
#     x = LSTM(32, activation='tanh')(x)
# #     x = LSTM(8, activation='tanh')(x)
#     x = Dense(3, activation='softmax')(x)
#     return Model(input, x)

# classic_model_1 = classic_sequence_classifier_1()

# classic_model_1.summary()

In [ ]:
# from keras.callbacks import EarlyStopping
# es = EarlyStopping(monitor='accuracy', verbose=1, patience=5)
# # 모델 저장 시 checkpoint 추가

# # 1번
# # classic_model_1.compile(optimizer='adam', loss='mean_squared_error')
# classic_model_1.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
# history1 = classic_model_1.fit(X_train, y_train, epochs=1000, batch_size=38, callbacks=[es])
# # classic_model_1.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
score = classic_model_1.evaluate(X_test, y_test)
print("Test loss: ", score[0])
print("Test accuracy: ", score[1])
yhat = classic_model_1.predict(X_test)

In [ ]:
yhat

In [ ]:
predicted = yhat.argmax(axis=-1)
predicted

In [ ]:
np.unique(predicted, return_counts=True)

In [ ]:
import itertools
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix

def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')
   
# Compute confusion matrix
y_test_mat = y_test.to_numpy()

cnf_matrix = confusion_matrix(y_test_mat.argmax(axis=1), yhat.argmax(axis=1))
np.set_printoptions(precision=2)

# Plot non-normalized confusion matrix
plt.figure(figsize=(10, 10))
plot_confusion_matrix(cnf_matrix, classes=['Win', 'Draw', 'Lose'],normalize=False, title='Confusion matrix, with normalization')
plt.show()

In [ ]:
# # 모델 저장
# from keras.models import load_model

# classic_model_1.save('Models/(0609)526_gru.h5')

In [ ]:
## 각 팀별 라운드별 예측 경기결과 정리
# 해당 시즌 팀 생성
column = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

j = 0
for i in raw_data_22.groupby('HomeTeam').mean().T.columns:
    column[j] = i
    j = j + 1

# DataFrame 생성
df_teams = pd.DataFrame(index=column, columns=[i for i in range(1, 39)])
df_teams

In [ ]:
import math

for i in range(len(raw_data_22)):
    for j in range(1, 39):
        if math.isnan(df_teams.loc[raw_data_22.loc[i, 'HomeTeam'], j]):
            if predicted[i] == 0:
                df_teams.loc[raw_data_22.loc[i, 'HomeTeam'], j] = 3
                df_teams.loc[raw_data_22.loc[i, 'AwayTeam'], j] = 0

            elif predicted[i] == 2:
                df_teams.loc[raw_data_22.loc[i, 'HomeTeam'], j] = 0
                df_teams.loc[raw_data_22.loc[i, 'AwayTeam'], j] = 3

            else:
                df_teams.loc[raw_data_22.loc[i, 'HomeTeam'], j] = 1
                df_teams.loc[raw_data_22.loc[i, 'AwayTeam'], j] = 1
        else:
            continue

df_teams

In [ ]:
for i in range(len(df_teams)):
    for j in range(df_teams.shape[1]-1):
        df_teams.iloc[i, j+1] = df_teams.iloc[i, j] + df_teams.iloc[i, j+1]
        
df_teams

In [ ]:
dict_teams = {}

for i in range(df_teams.shape[0]):
    dict_teams[df_teams.index[i]] = list(df_teams.iloc[i])

dict_teams