In [34]:
import pandas as pd
import numpy as np

In [35]:
loc = "../Datasets/"

raw_data_1 = pd.read_csv(loc + '2000-01.csv')
raw_data_2 = pd.read_csv(loc + '2001-02.csv')
raw_data_3 = pd.read_csv(loc + '2002-03.csv')
raw_data_4 = pd.read_csv(loc + '2003-04.csv')
raw_data_5 = pd.read_csv(loc + '2004-05.csv')
raw_data_6 = pd.read_csv(loc + '2005-06.csv')
raw_data_7 = pd.read_csv(loc + '2006-07.csv')
raw_data_8 = pd.read_csv(loc + '2007-08.csv')
raw_data_9 = pd.read_csv(loc + '2008-09.csv')
raw_data_10 = pd.read_csv(loc + '2009-10.csv')
raw_data_11 = pd.read_csv(loc + '2010-11.csv')
raw_data_12 = pd.read_csv(loc + '2011-12.csv')
raw_data_13 = pd.read_csv(loc + '2012-13.csv')
raw_data_14 = pd.read_csv(loc + '2013-14.csv')

In [36]:
# xG 크롤링 데이터 불러오기
loc_xG = "../crawling/xG_final/"

raw_data_15 = pd.read_csv(loc_xG + '2014-2015_final.csv')
raw_data_16 = pd.read_csv(loc_xG + '2015-2016_final.csv')
raw_data_17 = pd.read_csv(loc_xG + '2016-2017_final.csv')
raw_data_18 = pd.read_csv(loc_xG + '2017-2018_final.csv')
raw_data_19 = pd.read_csv(loc_xG + '2018-2019_final.csv')
raw_data_20 = pd.read_csv(loc_xG + '2019-2020_final.csv')
raw_data_21 = pd.read_csv(loc_xG + '2020-2021_final.csv')
raw_data_22 = pd.read_csv(loc_xG + '2021-2022_final.csv')

In [37]:
# xG column 추가
xG_columns = ['Home_xG', 'Home_xA', 'Home_xPTS', 'Away_xG', 'Away_xA', 'Away_xPTS']

def add_columns(df, columns):
    for i in columns:
        df[i] = np.NaN
    return df

xG_data_1 = add_columns(raw_data_1, xG_columns)
xG_data_2 = add_columns(raw_data_2, xG_columns)
xG_data_3 = add_columns(raw_data_3, xG_columns)
xG_data_4 = add_columns(raw_data_4, xG_columns)
xG_data_5 = add_columns(raw_data_5, xG_columns)
xG_data_6 = add_columns(raw_data_6, xG_columns)
xG_data_7 = add_columns(raw_data_7, xG_columns)
xG_data_8 = add_columns(raw_data_8, xG_columns)
xG_data_9 = add_columns(raw_data_9, xG_columns)
xG_data_10 = add_columns(raw_data_10, xG_columns)
xG_data_11 = add_columns(raw_data_11, xG_columns)
xG_data_12 = add_columns(raw_data_12, xG_columns)
xG_data_13 = add_columns(raw_data_13, xG_columns)
xG_data_14 = add_columns(raw_data_14, xG_columns)

xG_data_11

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS
0,E0,14/08/10,Aston Villa,West Ham,3,0,H,2,0,H,...,1.45,1.40,3.00,2.78,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,14/08/10,Blackburn,Everton,1,0,H,1,0,H,...,2.20,2.05,1.85,1.75,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,14/08/10,Bolton,Fulham,0,0,D,0,0,D,...,1.60,1.55,2.56,2.36,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,14/08/10,Chelsea,West Brom,6,0,H,2,0,H,...,2.06,2.01,1.91,1.85,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,14/08/10,Sunderland,Birmingham,2,2,D,1,0,H,...,1.64,1.55,2.50,2.38,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/11,Newcastle,West Brom,3,3,D,2,0,H,...,2.13,2.09,1.84,1.81,NaN,NaN,NaN,NaN,NaN,NaN
376,E0,22/05/11,Stoke,Wigan,0,1,A,0,0,D,...,2.10,2.00,1.93,1.85,NaN,NaN,NaN,NaN,NaN,NaN
377,E0,22/05/11,Tottenham,Birmingham,2,1,H,0,0,D,...,1.93,1.89,2.03,1.99,NaN,NaN,NaN,NaN,NaN,NaN
378,E0,22/05/11,West Ham,Sunderland,0,3,A,0,1,A,...,2.05,1.98,1.94,1.91,NaN,NaN,NaN,NaN,NaN,NaN
379,E0,22/05/11,Wolves,Blackburn,2,3,A,0,3,A,...,1.88,1.85,2.07,2.03,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#######

feature_list = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']
feature_list_xG = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR', 'Home_xG', 'Home_xA', 'Home_xPTS', 'Away_xG', 'Away_xA', 'Away_xPTS']

raw_data_1 = raw_data_1[feature_list]
raw_data_2 = raw_data_2[feature_list]
raw_data_3 = raw_data_3[feature_list]
raw_data_4 = raw_data_4[feature_list]
raw_data_5 = raw_data_5[feature_list]
raw_data_6 = raw_data_6[feature_list]
raw_data_7 = raw_data_7[feature_list]
raw_data_8 = raw_data_8[feature_list]
raw_data_9 = raw_data_9[feature_list]
raw_data_10 = raw_data_10[feature_list]
raw_data_11 = raw_data_11[feature_list]
raw_data_12 = raw_data_12[feature_list]
raw_data_13 = raw_data_13[feature_list]
raw_data_14 = raw_data_14[feature_list]
raw_data_15 = raw_data_15[feature_list_xG]
raw_data_16 = raw_data_16[feature_list_xG]
raw_data_17 = raw_data_17[feature_list_xG]
raw_data_18 = raw_data_18[feature_list_xG]
raw_data_19 = raw_data_19[feature_list_xG]
raw_data_20 = raw_data_20[feature_list_xG]
raw_data_21 = raw_data_21[feature_list_xG]
raw_data_22 = raw_data_22[feature_list_xG]

raw_data_18

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,...,HY,AY,HR,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS
0,Arsenal,Leicester,4,3,H,2,2,D,27,6,...,0,1,0,0,2.54,1.46,2.10,1.46,2.54,0.69
1,Brighton,Man City,0,2,A,0,0,D,6,14,...,0,2,0,0,0.28,1.87,0.17,1.87,0.28,2.71
2,Chelsea,Burnley,2,3,A,0,3,A,19,10,...,3,3,2,0,1.36,0.56,2.05,0.56,1.36,0.66
3,Crystal Palace,Huddersfield,0,3,A,0,2,A,14,8,...,1,3,0,0,0.99,1.74,0.71,1.74,0.99,2.04
4,Everton,Stoke,1,0,H,1,0,H,9,9,...,1,1,0,0,0.72,0.28,1.76,0.28,0.72,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Newcastle,Chelsea,3,0,H,1,0,H,16,6,...,0,1,0,0,2.24,0.84,2.53,0.84,2.24,0.30
376,Southampton,Man City,0,1,A,0,0,D,8,13,...,3,1,0,0,0.51,0.77,1.04,0.77,0.51,1.57
377,Swansea,Stoke,1,2,A,1,2,A,26,8,...,1,2,0,0,1.71,1.75,1.27,1.75,1.71,1.48
378,Tottenham,Leicester,5,4,H,1,2,A,14,16,...,1,2,0,0,1.83,1.27,1.84,1.27,1.83,0.91
379,West Ham,Everton,3,1,H,1,0,H,15,14,...,0,1,0,0,1.18,1.68,0.99,1.68,1.18,1.74

In [39]:
# 필요한 column 추출
columns_req = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR', 'Home_xG', 'Home_xA', 'Home_xPTS', 'Away_xG', 'Away_xA', 'Away_xPTS']

playing_statistics_1 = xG_data_1[columns_req]                      
playing_statistics_2 = xG_data_2[columns_req]
playing_statistics_3 = xG_data_3[columns_req]
playing_statistics_4 = xG_data_4[columns_req]
playing_statistics_5 = xG_data_5[columns_req]
playing_statistics_6 = xG_data_6[columns_req]
playing_statistics_7 = xG_data_7[columns_req]
playing_statistics_8 = xG_data_8[columns_req]
playing_statistics_9 = xG_data_9[columns_req]
playing_statistics_10 = xG_data_10[columns_req]
playing_statistics_11 = xG_data_11[columns_req]   
playing_statistics_12 = xG_data_12[columns_req]
playing_statistics_13 = xG_data_13[columns_req]
playing_statistics_14 = xG_data_14[columns_req]
playing_statistics_15 = raw_data_15[columns_req]
playing_statistics_16 = raw_data_16[columns_req]
playing_statistics_17 = raw_data_17[columns_req]
playing_statistics_18 = raw_data_18[columns_req]
playing_statistics_19 = raw_data_19[columns_req]
playing_statistics_20 = raw_data_20[columns_req]
playing_statistics_21 = raw_data_21[columns_req]
playing_statistics_22 = raw_data_22[columns_req]

playing_statistics_5

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,HST,...,HY,AY,HR,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS
0,Aston Villa,Southampton,2,0,H,2,0,14,6,5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,Blackburn,West Brom,1,1,D,0,1,12,4,4,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,Bolton,Charlton,4,1,H,2,0,21,9,11,...,1,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,Man City,Fulham,1,1,D,1,0,12,4,5,...,0,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,Middlesbrough,Newcastle,2,2,D,0,1,15,11,8,...,3,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Man City,Middlesbrough,1,1,D,0,1,10,4,5,...,2,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN
376,Newcastle,Chelsea,1,1,D,1,1,8,12,4,...,4,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN
377,Southampton,Man United,1,2,A,1,1,11,16,3,...,1,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
378,Tottenham,Blackburn,0,0,D,0,0,11,12,7,...,2,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN
379,West Brom,Portsmouth,2,0,H,0,0,9,8,5,...,0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# 경기 결과(승무패) 전처리

def transformResult(row):
    if(row.FTR == 'H'):
        return -1
    elif(row.FTR == 'A'):
        return 1
    else:
        return 0

def add_match_result(playing_stat, raw_data):
    playing_stat["Result"] = raw_data.apply(lambda row: transformResult(row),axis=1)
    return playing_stat


playing_statistics_22 = add_match_result(playing_statistics_22, raw_data_22)

In [41]:
# 결과 원-핫 인코딩
from sklearn.preprocessing import OneHotEncoder

def result_onehotencoder(playing_stat):
    ohe = OneHotEncoder(sparse=False)
    
    df_temp = playing_stat['Result']
    df_temp = df_temp.to_numpy()
    df_temp = df_temp.reshape(-1, 1)

    ohe.fit(df_temp)
    onehot_temp = ohe.transform(df_temp)
    
#     print(df_temp)
#     print(onehot_temp)
    onehot_temp_table = pd.DataFrame(onehot_temp)
    onehot_temp_table.columns=['Home', 'draw', 'Away']
    
    playing_stat = pd.concat([playing_stat, onehot_temp_table], axis=1)
#     print(playing_stat)
    playing_stat = playing_stat.drop(['Result'], axis=1)
    playing_stat = playing_stat.drop(['FTR'], axis=1)
    

    return playing_stat

playing_statistics_22 = result_onehotencoder(playing_statistics_22)

In [42]:
# 데이터 합치기

df_total_list = [playing_statistics_1, playing_statistics_2, playing_statistics_3, playing_statistics_4, \
                              playing_statistics_5, playing_statistics_6, playing_statistics_7, playing_statistics_8, \
                              playing_statistics_9, playing_statistics_10, playing_statistics_11, playing_statistics_12, \
                              playing_statistics_13, playing_statistics_14, playing_statistics_15, playing_statistics_16, \
                              playing_statistics_17, playing_statistics_18, playing_statistics_19, playing_statistics_20, \
                              playing_statistics_21, playing_statistics_22]
playing_statistics_total = pd.concat(df_total_list)
playing_statistics_total

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,HST,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
0,Charlton,Man City,4,0,H,2,0,17,8,14,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Chelsea,West Ham,4,2,H,1,0,17,12,10,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Coventry,Middlesbrough,1,3,A,1,1,6,16,3,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Derby,Southampton,2,2,D,1,2,6,13,4,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Leeds,Everton,2,0,H,2,0,17,12,8,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,1,0,NaN,1,0,6,10,3,...,0,0.35,0.78,0.84,0.78,0.35,1.75,1.0,0.0,0.0
376,Leicester,Southampton,4,1,NaN,0,0,12,7,6,...,0,3.42,1.05,2.79,1.05,3.42,0.14,1.0,0.0,0.0
377,Liverpool,Wolves,3,1,NaN,1,1,29,7,8,...,0,3.19,1.12,2.61,1.12,3.19,0.28,1.0,0.0,0.0
378,Man City,Aston Villa,3,2,NaN,0,1,24,4,5,...,0,3.32,0.25,2.95,0.25,3.32,0.03,1.0,0.0,0.0
379,Norwich,Tottenham,0,5,NaN,0,2,9,19,0,...,0,0.31,3.81,0.02,3.81,0.31,2.96,0.0,0.0,1.0

In [43]:
## 원-핫 인코딩
# HomeTeam 인코딩

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse=False)

df_temp = playing_statistics_total['HomeTeam']
df_temp = df_temp.to_numpy()
df_temp = df_temp.reshape(-1, 1)
ohe.fit(df_temp)
onehot_temp = ohe.transform(df_temp)

onehot_temp_table_home = pd.DataFrame(onehot_temp)

# 인코딩 레이블명 변경
temp = playing_statistics_total['HomeTeam'].unique()
temp.sort()
temp = ['Home_'+i for i in temp]
onehot_temp_table_home.columns = temp

# AwayTeam 인코딩
ohe = OneHotEncoder(sparse=False)

df_temp = playing_statistics_total['AwayTeam']
df_temp = df_temp.to_numpy()
df_temp = df_temp.reshape(-1, 1)
ohe.fit(df_temp)
onehot_temp = ohe.transform(df_temp)

onehot_temp_table_away = pd.DataFrame(onehot_temp)

# 인코딩 레이블명 변경
temp = playing_statistics_total['AwayTeam'].unique()
temp.sort()
temp = ['Away_'+i for i in temp]
onehot_temp_table_away.columns = temp

onehot_temp_table_away

,Away_Arsenal,Away_Aston Villa,Away_Birmingham,Away_Blackburn,Away_Blackpool,Away_Bolton,Away_Bournemouth,Away_Bradford,Away_Brentford,Away_Brighton,...,Away_Southampton,Away_Stoke,Away_Sunderland,Away_Swansea,Away_Tottenham,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8358,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [44]:
# 인덱스 초기화
playing_statistics_total = playing_statistics_total.reset_index()

In [45]:
# 인코딩 데이터 합치기
playing_statistics_total_final = pd.concat([onehot_temp_table_home, onehot_temp_table_away, playing_statistics_total], axis=1)

# 팀명(문자열) 레이블 제거
playing_statistics_total_final = playing_statistics_total_final.drop(['HomeTeam', 'AwayTeam'], axis=1)

playing_statistics_total_final

,Home_Arsenal,Home_Aston Villa,Home_Birmingham,Home_Blackburn,Home_Blackpool,Home_Bolton,Home_Bournemouth,Home_Bradford,Home_Brentford,Home_Brighton,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.35,0.78,0.84,0.78,0.35,1.75,1.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.42,1.05,2.79,1.05,3.42,0.14,1.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.19,1.12,2.61,1.12,3.19,0.28,1.0,0.0,0.0
8358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.32,0.25,2.95,0.25,3.32,0.03,1.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.31,3.81,0.02,3.81,0.31,2.96,0.0,0.0,1.0

In [46]:
# 마지막 시즌만 떼어내기
season_index = 380
playing_statistics_22 = playing_statistics_total_final[season_index*21:]

playing_statistics_22

,Home_Arsenal,Home_Aston Villa,Home_Birmingham,Home_Blackburn,Home_Blackpool,Home_Bolton,Home_Bournemouth,Home_Bradford,Home_Brentford,Home_Brighton,...,AR,Home_xG,Home_xA,Home_xPTS,Away_xG,Away_xA,Away_xPTS,Home,draw,Away
7980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,1.89,1.02,2.12,1.02,1.89,0.66,1.0,0.0,0.0
7981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1.64,0.57,2.22,0.57,1.64,0.55,1.0,0.0,0.0
7982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1.80,1.69,1.46,1.69,1.80,1.26,0.0,0.0,1.0
7983,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1.19,0.32,2.20,0.32,1.19,0.51,1.0,0.0,0.0
7984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2.39,0.58,2.63,0.58,2.39,0.25,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.35,0.78,0.84,0.78,0.35,1.75,1.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.42,1.05,2.79,1.05,3.42,0.14,1.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.19,1.12,2.61,1.12,3.19,0.28,1.0,0.0,0.0
8358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.32,0.25,2.95,0.25,3.32,0.03,1.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.31,3.81,0.02,3.81,0.31,2.96,0.0,0.0,1.0

In [47]:
# 인덱스 초기화
playing_statistics_22 = playing_statistics_22.reset_index()

In [48]:
## 팀명(HomeTeam, AwayTeam) 붙이기

playing_statistics_22 = pd.concat([playing_statistics_22, raw_data_22[['HomeTeam', 'AwayTeam']]], axis=1)

In [49]:
# 홈/원정 팀 골득실 전처리
# 슈팅 개수, 유효슈팅 개수 전처리

def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    GoalsScored[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
#     print(GoalsScored)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]

#     print(GoalsScored)
    return GoalsScored
    
    
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
#     print(match_round_len)
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
        
#     print(GoalsConceded)
    return GoalsConceded


# def get_etc_stats(playing_stat):
    
# 슈팅 개수 전처리
def get_shoots(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HS = playing_stat.iloc[i]['HS']
        AS = playing_stat.iloc[i]['AS']
        teams[playing_stat.iloc[i].HomeTeam].append(HS)
        teams[playing_stat.iloc[i].AwayTeam].append(AS)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    Shoots = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    Shoots[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        Shoots[i] = Shoots[i] + Shoots[i-1]

#     print(GoalsScored)
    return Shoots


# 유효 슈팅 개수 전처리
def get_shoots_on_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HST = playing_stat.iloc[i]['HST']
        AST = playing_stat.iloc[i]['AST']
        teams[playing_stat.iloc[i].HomeTeam].append(HST)
        teams[playing_stat.iloc[i].AwayTeam].append(AST)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    ShootsOnTarget = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    ShootsOnTarget[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        ShootsOnTarget[i] = ShootsOnTarget[i] + ShootsOnTarget[i-1]

#     print(GoalsScored)
    return ShootsOnTarget

def get_xG(playing_stat):
    
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        temp_Home = playing_stat.iloc[i]['Home_xG']
        temp_Away = playing_stat.iloc[i]['Away_xG']
        teams[playing_stat.iloc[i].HomeTeam].append(temp_Home)
        teams[playing_stat.iloc[i].AwayTeam].append(temp_Away)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    xG = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    xG[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        xG[i] = xG[i] + xG[i-1]
        
    return xG


def get_xA(playing_stat):
    
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        temp_Home = playing_stat.iloc[i]['Home_xA']
        temp_Away = playing_stat.iloc[i]['Away_xA']
        teams[playing_stat.iloc[i].HomeTeam].append(temp_Home)
        teams[playing_stat.iloc[i].AwayTeam].append(temp_Away)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    xA = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    xA[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        xA[i] = xA[i] + xA[i-1]
        
    return xA


def get_xPTS(playing_stat):
    
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        temp_Home = playing_stat.iloc[i]['Home_xPTS']
        temp_Away = playing_stat.iloc[i]['Away_xPTS']
        teams[playing_stat.iloc[i].HomeTeam].append(temp_Home)
        teams[playing_stat.iloc[i].AwayTeam].append(temp_Away)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    xPTS = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    xPTS[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        xPTS[i] = xPTS[i] + xPTS[i-1]
        
    return xPTS




# 'Home_xG', 'Home_xA', 'Home_xPTS', 'Away_xPTS',
def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
    S = get_shoots(playing_stat)
    SoT = get_shoots_on_target(playing_stat)
    xG = get_xG(playing_stat)
    xA = get_xA(playing_stat)
    xPTS = get_xPTS(playing_stat)
    
    
#     print(GC)

    j = 0
    HTGS = []    # 홈 팀 넣은 골
    ATGS = []    # 원정 팀 넣은 골
    HTGC = []    # 홈 팀 먹힌 골
    ATGC = []    # 원정 팀 먹힌 골
    HS = []      # 홈 팀 슈팅 개수
    AS = []      # 원정 팀 슈팅 개수
    HTSoT = []      # 홈 팀 슈팅 개수
    ATSoT = []      # 원정 팀 슈팅 개수
    Home_xG = []
    Away_xG = []
    Home_xA = []
    Away_xA = []
    Home_xPTS = []
    Away_xPTS = []

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        HS.append(S.loc[ht][j])
        AS.append(S.loc[at][j])
        HTSoT.append(SoT.loc[ht][j])
        ATSoT.append(SoT.loc[at][j])
        Home_xG.append(xG.loc[ht][j])
        Away_xG.append(xG.loc[at][j])
        Home_xA.append(xA.loc[ht][j])
        Away_xA.append(xA.loc[at][j])
        Home_xPTS.append(xPTS.loc[ht][j])
        Away_xPTS.append(xPTS.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
    df_temp = pd.DataFrame()
    
    df_temp['HomeTeam'] = playing_stat['HomeTeam']
    df_temp['AwayTeam'] = playing_stat['AwayTeam']
    
    df_temp['HTGS'] = HTGS
    df_temp['ATGS'] = ATGS
    df_temp['HTGC'] = HTGC
    df_temp['ATGC'] = ATGC
    
    df_temp['HS'] = HS
    df_temp['AS'] = AS
    df_temp['HST'] = HTSoT
    df_temp['AST'] = ATSoT
    
    df_temp['Home_xG'] = Home_xG
    df_temp['Away_xG'] = Away_xG
    df_temp['Home_xA'] = Home_xG
    df_temp['Away_xA'] = Away_xG
    df_temp['Home_xPTS'] = Home_xG
    df_temp['Away_xPTS'] = Away_xG
    
    columns = ['Home_Arsenal', 'Home_Aston Villa', 'Home_Birmingham', 'Home_Blackburn', 'Home_Blackpool', 'Home_Bolton', 'Home_Bournemouth', 'Home_Bradford', 'Home_Brentford', 'Home_Brighton', 'Home_Burnley', 'Home_Cardiff', 'Home_Charlton', 'Home_Chelsea', 'Home_Coventry', 'Home_Crystal Palace', 'Home_Derby', 'Home_Everton', 'Home_Fulham', 'Home_Huddersfield', 'Home_Hull', 'Home_Ipswich', 'Home_Leeds', 'Home_Leicester', 'Home_Liverpool', 'Home_Man City', 'Home_Man United', 'Home_Middlesboro', 'Home_Middlesbrough', 'Home_Newcastle', 'Home_Norwich', 'Home_Portsmouth', 'Home_QPR', 'Home_Reading', 'Home_Sheffield United', 'Home_Southampton', 'Home_Stoke', 'Home_Sunderland', 'Home_Swansea', 'Home_Tottenham', 'Home_Watford', 'Home_West Brom', 'Home_West Ham', 'Home_Wigan', 'Home_Wolves', 'Away_Arsenal', 'Away_Aston Villa', 'Away_Birmingham', 'Away_Blackburn', 'Away_Blackpool', 'Away_Bolton', 'Away_Bournemouth', 'Away_Bradford', 'Away_Brentford', 'Away_Brighton', 'Away_Burnley', 'Away_Cardiff', 'Away_Charlton', 'Away_Chelsea', 'Away_Coventry', 'Away_Crystal Palace', 'Away_Derby', 'Away_Everton', 'Away_Fulham', 'Away_Huddersfield', 'Away_Hull', 'Away_Ipswich', 'Away_Leeds', 'Away_Leicester', 'Away_Liverpool', 'Away_Man City', 'Away_Man United', 'Away_Middlesboro', 'Away_Middlesbrough', 'Away_Newcastle', 'Away_Norwich', 'Away_Portsmouth', 'Away_QPR', 'Away_Reading', 'Away_Sheffield United', 'Away_Southampton', 'Away_Stoke', 'Away_Sunderland', 'Away_Swansea', 'Away_Tottenham', 'Away_Watford', 'Away_West Brom', 'Away_West Ham', 'Away_Wigan', 'Away_Wolves', 'Home', 'draw', 'Away']
    df_temp = pd.concat([df_temp, playing_stat[columns]], axis=1)
    
#     print(playing_stat)
    
#     playing_stat.drop(['FTHG', 'FTAG'], axis=1, inplace=True)
    
    return df_temp
    

playing_statistics_22 = get_gss(playing_statistics_22)

playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,...,Away_Swansea,Away_Tottenham,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,Home,draw,Away
0,Brentford,Arsenal,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Man United,Leeds,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Burnley,Brighton,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,Chelsea,Crystal Palace,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Everton,Southampton,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49,57,46,56,406,498,144,183,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
376,Leicester,Southampton,58,42,58,63,423,475,163,168,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
377,Liverpool,Wolves,91,37,25,40,701,395,248,131,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
378,Man City,Aston Villa,96,50,24,51,691,450,249,160,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
379,Norwich,Tottenham,23,64,79,40,365,472,109,185,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [50]:
## 각 경기마다 팀별 누적승점 전처리

def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
    
#     print(teams)
    
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
#     print(playing_stat)
    matchres = get_matchres(playing_stat)       # 팀별 경기결과 전처리
#     print(matchres)
    cum_pts = get_cuml_points(matchres)         # 팀별 누적승점 전처리
#     print(cum_pts)

    # 각 경기마다 팀별 누적승점 전처리
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
#         print(ht)
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
#     print(playing_stat)
    
    df_temp = pd.DataFrame()
    
    df_temp['HTP'] = HTP
    df_temp['ATP'] = ATP
    
#     playing_stat['HTP'] = HTP
#     playing_stat['ATP'] = ATP
    
#     print(playing_stat)
    
    return df_temp

# Apply to each dataset
playing_statistics_22 = pd.concat([playing_statistics_22, get_agg_points(raw_data_22)], axis=1)
playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,...,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,Home,draw,Away,HTP,ATP
0,Brentford,Arsenal,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
1,Man United,Leeds,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
2,Burnley,Brighton,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
3,Chelsea,Crystal Palace,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
4,Everton,Southampton,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49,57,46,56,406,498,144,183,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,45,58
376,Leicester,Southampton,58,42,58,63,423,475,163,168,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,49,40
377,Liverpool,Wolves,91,37,25,40,701,395,248,131,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,89,51
378,Man City,Aston Villa,96,50,24,51,691,450,249,160,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,90,45
379,Norwich,Tottenham,23,64,79,40,365,472,109,185,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22,68

In [51]:
# HomeTeam, AwayTeam 제거
playing_statistics_22 = playing_statistics_22.drop(['HomeTeam', 'AwayTeam', 'Away_xA', 'Away_xG'], axis=1)

playing_statistics_22

,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,Home_xG,Home_xA,...,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,Home,draw,Away,HTP,ATP
0,0,0,0,0,0,0,0,0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
1,0,0,0,0,0,0,0,0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
2,0,0,0,0,0,0,0,0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0
3,0,0,0,0,0,0,0,0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
4,0,0,0,0,0,0,0,0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,49,57,46,56,406,498,144,183,48.50,48.50,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,45,58
376,58,42,58,63,423,475,163,168,46.07,46.07,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,49,40
377,91,37,25,40,701,395,248,131,89.83,89.83,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,89,51
378,96,50,24,51,691,450,249,160,90.07,90.07,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,90,45
379,23,64,79,40,365,472,109,185,31.19,31.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22,68

In [52]:
X_test = pd.concat([playing_statistics_22.loc[:, "HTGS":"Away_Wolves"], playing_statistics_22.loc[:, "HTP":"ATP"]], axis=1)
y_test = playing_statistics_22.loc[:, "Home":"Away"]

# X_test.drop(['index'], axis=1)
# y_test.drop(['index'], axis=1)

X_test = X_test[370:].reset_index(drop = True)
y_test = y_test[370:].reset_index(drop = True)
X_test

,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,Home_xG,Home_xA,...,Away_Sunderland,Away_Swansea,Away_Tottenham,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves,HTP,ATP
0,56,42,47,61,562,432,188,136,59.01,59.01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66,39
1,47,40,54,78,428,471,149,148,52.03,52.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46,35
2,39,59,43,48,472,426,145,156,47.90,47.90,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,48,56
3,33,42,51,61,395,440,120,142,39.62,39.62,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35,46
4,74,33,32,75,573,388,203,124,66.70,66.70,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,71,23
5,49,57,46,56,406,498,144,183,48.50,48.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45,58
6,58,42,58,63,423,475,163,168,46.07,46.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49,40
7,91,37,25,40,701,395,248,131,89.83,89.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,89,51
8,96,50,24,51,691,450,249,160,90.07,90.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,90,45
9,23,64,79,40,365,472,109,185,31.19,31.19,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,22,68

In [53]:
y_test

   Home  draw  Away
0   1.0   0.0   0.0
1   0.0   0.0   1.0
2   1.0   0.0   0.0
3   0.0   0.0   1.0
4   1.0   0.0   0.0
5   1.0   0.0   0.0
6   1.0   0.0   0.0
7   1.0   0.0   0.0
8   1.0   0.0   0.0
9   0.0   0.0   1.0

In [54]:
# lstm 입력층에 맞게 reshape-

import numpy as np
X_test = np.array(X_test).reshape(X_test.shape[0], X_test.shape[1], 1)

In [55]:
# 모델 불러오기
from keras.models import load_model
model = load_model('(0609)526_gru.h5')

In [56]:
yhat = model.predict(X_test)
yhat

array([[0.59045094, 0.14711688, 0.2624322 ],
       [0.5271599 , 0.0919578 , 0.3808823 ],
       [0.47674784, 0.29976836, 0.22348374],
       [0.67802775, 0.1135513 , 0.20842099],
       [0.2868429 , 0.09468722, 0.6184699 ],
       [0.65278935, 0.13573332, 0.21147732],
       [0.6209476 , 0.20015661, 0.17889573],
       [0.33829433, 0.3300035 , 0.33170217],
       [0.60008514, 0.17208415, 0.22783071],
       [0.6404343 , 0.1838121 , 0.1757536 ]], dtype=float32)

In [57]:
predicted = yhat.argmax(axis=-1)
predicted

array([0, 0, 0, 0, 2, 0, 0, 0, 0, 0])

In [58]:
predicted_json = np.round(yhat, 2)
predicted_json

array([[0.59, 0.15, 0.26],
       [0.53, 0.09, 0.38],
       [0.48, 0.3 , 0.22],
       [0.68, 0.11, 0.21],
       [0.29, 0.09, 0.62],
       [0.65, 0.14, 0.21],
       [0.62, 0.2 , 0.18],
       [0.34, 0.33, 0.33],
       [0.6 , 0.17, 0.23],
       [0.64, 0.18, 0.18]], dtype=float32)

In [59]:
raw_data_22.loc[370, 'HomeTeam']
test_team_list_home = []
test_team_list_away = []

for i in range(10):
    test_team_list_home.append(raw_data_22.loc[len(raw_data_22)-10+i, 'HomeTeam'])
    test_team_list_away.append(raw_data_22.loc[len(raw_data_22)-10+i, 'AwayTeam'])

In [60]:
import json

data = {
    "game_1" : {
        "HomeTeam" : str(test_team_list_home[0]),
        "AwayTeam" : str(test_team_list_away[0]),
        "Result" : {
            "Result_Home" : str(predicted_json[0][0]),
            "Result_Draw" : str(predicted_json[0][1]),
            "Result_Away" : str(predicted_json[0][2])
        }
    },
    "game_2" : {
        "HomeTeam" : str(test_team_list_home[1]),
        "AwayTeam" : str(test_team_list_away[1]),
        "Result" : {
            "Result_Home" : str(predicted_json[1][0]),
            "Result_Draw" : str(predicted_json[1][1]),
            "Result_Away" : str(predicted_json[1][2])
        }
    },
    "game_3" : {
        "HomeTeam" : str(test_team_list_home[2]),
        "AwayTeam" : str(test_team_list_away[2]),
        "Result" : {
            "Result_Home" : str(predicted_json[2][0]),
            "Result_Draw" : str(predicted_json[2][1]),
            "Result_Away" : str(predicted_json[2][2])
        }
    },
    "game_4" : {
        "HomeTeam" : str(test_team_list_home[3]),
        "AwayTeam" : str(test_team_list_away[3]),
        "Result" : {
            "Result_Home" : str(predicted_json[3][0]),
            "Result_Draw" : str(predicted_json[3][1]),
            "Result_Away" : str(predicted_json[3][2])
        }
    },
    "game_5" : {
        "HomeTeam" : str(test_team_list_home[4]),
        "AwayTeam" : str(test_team_list_away[5]),
        "Result" : {
            "Result_Home" : str(predicted_json[4][0]),
            "Result_Draw" : str(predicted_json[4][1]),
            "Result_Away" : str(predicted_json[4][2])
        }
    },
    "game_6" : {
        "HomeTeam" : str(test_team_list_home[5]),
        "AwayTeam" : str(test_team_list_away[5]),
        "Result" : {
            "Result_Home" : str(predicted_json[5][0]),
            "Result_Draw" : str(predicted_json[5][1]),
            "Result_Away" : str(predicted_json[5][2])
        }
    },
    "game_7" : {
        "HomeTeam" : str(test_team_list_home[6]),
        "AwayTeam" : str(test_team_list_away[6]),
        "Result" : {
            "Result_Home" : str(predicted_json[6][0]),
            "Result_Draw" : str(predicted_json[6][1]),
            "Result_Away" : str(predicted_json[6][2])
        }
    },
    "game_8" : {
        "HomeTeam" : str(test_team_list_home[7]),
        "AwayTeam" : str(test_team_list_away[7]),
        "Result" : {
            "Result_Home" : str(predicted_json[7][0]),
            "Result_Draw" : str(predicted_json[7][1]),
            "Result_Away" : str(predicted_json[7][2])
        }
    },
    "game_9" : {
        "HomeTeam" : str(test_team_list_home[8]),
        "AwayTeam" : str(test_team_list_away[8]),
        "Result" : {
            "Result_Home" : str(predicted_json[8][0]),
            "Result_Draw" : str(predicted_json[8][1]),
            "Result_Away" : str(predicted_json[8][2])
        }
    },
    "game_10" : {
        "HomeTeam" : str(test_team_list_home[9]),
        "AwayTeam" : str(test_team_list_away[9]),
        "Result" : {
            "Result_Home" : str(predicted_json[9][0]),
            "Result_Draw" : str(predicted_json[9][1]),
            "Result_Away" : str(predicted_json[9][2])
        }
    }
}

file_path = "test.json"

with open(file_path, 'w', encoding='utf-8') as file:
    json.dump(data, file)