In [37]:
import pandas as pd

loc = "../Datasets/"

raw_data_1 = pd.read_csv(loc + '2000-01.csv')
raw_data_2 = pd.read_csv(loc + '2001-02.csv')
raw_data_3 = pd.read_csv(loc + '2002-03.csv')
raw_data_4 = pd.read_csv(loc + '2003-04.csv')
raw_data_5 = pd.read_csv(loc + '2004-05.csv')
raw_data_6 = pd.read_csv(loc + '2005-06.csv')
raw_data_7 = pd.read_csv(loc + '2006-07.csv')
raw_data_8 = pd.read_csv(loc + '2007-08.csv')
raw_data_9 = pd.read_csv(loc + '2008-09.csv')
raw_data_10 = pd.read_csv(loc + '2009-10.csv')
raw_data_11 = pd.read_csv(loc + '2010-11.csv')
raw_data_12 = pd.read_csv(loc + '2011-12.csv')
raw_data_13 = pd.read_csv(loc + '2012-13.csv')
raw_data_14 = pd.read_csv(loc + '2013-14.csv')
raw_data_15 = pd.read_csv(loc + '2014-15.csv')
raw_data_16 = pd.read_csv(loc + '2015-16.csv')
raw_data_17 = pd.read_csv(loc + '2016-17.csv')
raw_data_18 = pd.read_csv(loc + '2017-18.csv')
raw_data_19 = pd.read_csv(loc + '2018-19.csv')
raw_data_20 = pd.read_csv(loc + '2019-20.csv')
raw_data_21 = pd.read_csv(loc + '2020-21.csv')
raw_data_22 = pd.read_csv(loc + '2021-22.csv')

In [38]:
feature_list = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']

raw_data_1 = raw_data_1[feature_list]
raw_data_2 = raw_data_2[feature_list]
raw_data_3 = raw_data_3[feature_list]
raw_data_4 = raw_data_4[feature_list]
raw_data_5 = raw_data_5[feature_list]
raw_data_6 = raw_data_6[feature_list]
raw_data_7 = raw_data_7[feature_list]
raw_data_8 = raw_data_8[feature_list]
raw_data_9 = raw_data_9[feature_list]
raw_data_10 = raw_data_10[feature_list]
raw_data_11 = raw_data_11[feature_list]
raw_data_12 = raw_data_12[feature_list]
raw_data_13 = raw_data_13[feature_list]
raw_data_14 = raw_data_14[feature_list]
raw_data_15 = raw_data_15[feature_list]
raw_data_16 = raw_data_16[feature_list]
raw_data_17 = raw_data_17[feature_list]
raw_data_18 = raw_data_18[feature_list]
raw_data_19 = raw_data_19[feature_list]
raw_data_20 = raw_data_20[feature_list]
raw_data_21 = raw_data_21[feature_list]
raw_data_22 = raw_data_22[feature_list]

In [39]:
columns_req = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']

playing_statistics_1 = raw_data_1[columns_req]                      
playing_statistics_2 = raw_data_2[columns_req]
playing_statistics_3 = raw_data_3[columns_req]
playing_statistics_4 = raw_data_4[columns_req]
playing_statistics_5 = raw_data_5[columns_req]
playing_statistics_6 = raw_data_6[columns_req]
playing_statistics_7 = raw_data_7[columns_req]
playing_statistics_8 = raw_data_8[columns_req]
playing_statistics_9 = raw_data_9[columns_req]
playing_statistics_10 = raw_data_10[columns_req]
playing_statistics_11 = raw_data_11[columns_req]   
playing_statistics_12 = raw_data_12[columns_req]
playing_statistics_13 = raw_data_13[columns_req]
playing_statistics_14 = raw_data_14[columns_req]
playing_statistics_15 = raw_data_15[columns_req]
playing_statistics_16 = raw_data_16[columns_req]
playing_statistics_17 = raw_data_17[columns_req]
playing_statistics_18 = raw_data_18[columns_req]
playing_statistics_19 = raw_data_19[columns_req]
playing_statistics_20 = raw_data_20[columns_req]
playing_statistics_21 = raw_data_21[columns_req]
playing_statistics_22 = raw_data_22[columns_req]

playing_statistics_5

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Aston Villa,Southampton,2,0,H,2,0,H,14,6,5,2,14,9,12,6,0,0,0,0
1,Blackburn,West Brom,1,1,D,0,1,A,12,4,4,2,15,17,4,5,1,0,0,0
2,Bolton,Charlton,4,1,H,2,0,H,21,9,11,5,10,12,9,5,1,1,0,0
3,Man City,Fulham,1,1,D,1,0,H,12,4,5,2,14,12,9,4,0,2,0,0
4,Middlesbrough,Newcastle,2,2,D,0,1,A,15,11,8,4,16,13,6,7,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Man City,Middlesbrough,1,1,D,0,1,A,10,4,5,3,12,15,10,3,2,4,0,0
376,Newcastle,Chelsea,1,1,D,1,1,D,8,12,4,7,11,17,6,4,4,4,0,0
377,Southampton,Man United,1,2,A,1,1,D,11,16,3,8,14,13,5,3,1,2,0,0
378,Tottenham,Blackburn,0,0,D,0,0,D,11,12,7,8,10,14,5,7,2,2,0,0
379,West Brom,Portsmouth,2,0,H,0,0,D,9,8,5,2,12,13,6,1,0,1,0,0

In [40]:
# 홈/원정 팀 골득실 전처리
# 슈팅 개수, 유효슈팅 개수 전처리

def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    GoalsScored[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
#     print(GoalsScored)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]

#     print(GoalsScored)
    return GoalsScored
    
    
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
#     print(match_round_len)
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
        
#     print(GoalsConceded)
    return GoalsConceded


# def get_etc_stats(playing_stat):
    
# 슈팅 개수 전처리
def get_shoots(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HS = playing_stat.iloc[i]['HS']
        AS = playing_stat.iloc[i]['AS']
        teams[playing_stat.iloc[i].HomeTeam].append(HS)
        teams[playing_stat.iloc[i].AwayTeam].append(AS)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    Shoots = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    Shoots[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        Shoots[i] = Shoots[i] + Shoots[i-1]

#     print(GoalsScored)
    return Shoots


# 유효 슈팅 개수 전처리
def get_shoots_on_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HST = playing_stat.iloc[i]['HST']
        AST = playing_stat.iloc[i]['AST']
        teams[playing_stat.iloc[i].HomeTeam].append(HST)
        teams[playing_stat.iloc[i].AwayTeam].append(AST)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    ShootsOnTarget = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    ShootsOnTarget[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        ShootsOnTarget[i] = ShootsOnTarget[i] + ShootsOnTarget[i-1]

#     print(GoalsScored)
    return ShootsOnTarget


def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
    S = get_shoots(playing_stat)
    SoT = get_shoots_on_target(playing_stat)

    
#     print(GC)

    j = 0
    HTGS = []    # 홈 팀 넣은 골
    ATGS = []    # 원정 팀 넣은 골
    HTGC = []    # 홈 팀 먹힌 골
    ATGC = []    # 원정 팀 먹힌 골
    HS = []      # 홈 팀 슈팅 개수
    AS = []      # 원정 팀 슈팅 개수
    HTSoT = []      # 홈 팀 슈팅 개수
    ATSoT = []      # 원정 팀 슈팅 개수

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        HS.append(S.loc[ht][j])
        AS.append(S.loc[at][j])
        HTSoT.append(SoT.loc[ht][j])
        ATSoT.append(SoT.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
    df_temp = pd.DataFrame()
    
    df_temp['HomeTeam'] = playing_stat['HomeTeam']
    df_temp['AwayTeam'] = playing_stat['AwayTeam']
    
    df_temp['HTGS'] = HTGS
    df_temp['ATGS'] = ATGS
    df_temp['HTGC'] = HTGC
    df_temp['ATGC'] = ATGC
    
    df_temp['HS'] = HS
    df_temp['AS'] = AS
    df_temp['HST'] = HTSoT
    df_temp['AST'] = ATSoT
    
#     print(playing_stat)
    
#     playing_stat.drop(['FTHG', 'FTAG'], axis=1, inplace=True)
    
    return df_temp
    

playing_statistics_1 = get_gss(raw_data_1)
playing_statistics_2 = get_gss(raw_data_2)
playing_statistics_3 = get_gss(raw_data_3)
playing_statistics_4 = get_gss(raw_data_4)
playing_statistics_5 = get_gss(raw_data_5)
playing_statistics_6 = get_gss(raw_data_6)
playing_statistics_7 = get_gss(raw_data_7)
playing_statistics_8 = get_gss(raw_data_8)
playing_statistics_9 = get_gss(raw_data_9)
playing_statistics_10 = get_gss(raw_data_10)
playing_statistics_11 = get_gss(raw_data_11)
playing_statistics_12 = get_gss(raw_data_12)
playing_statistics_13 = get_gss(raw_data_13)
playing_statistics_14 = get_gss(raw_data_14)
playing_statistics_15 = get_gss(raw_data_15)
playing_statistics_16 = get_gss(raw_data_16)
playing_statistics_17 = get_gss(raw_data_17)
playing_statistics_18 = get_gss(raw_data_18)
playing_statistics_19 = get_gss(raw_data_19)
playing_statistics_20 = get_gss(raw_data_20)
playing_statistics_21 = get_gss(raw_data_21)
playing_statistics_22 = get_gss(raw_data_22)

playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST
0,Brentford,Arsenal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Man United,Leeds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Burnley,Brighton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Chelsea,Crystal Palace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Everton,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0
376,Leicester,Southampton,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0
377,Liverpool,Wolves,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0
378,Man City,Aston Villa,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0
379,Norwich,Tottenham,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0

In [41]:
## 각 경기마다 팀별 누적승점 전처리

def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
    
#     print(teams)
    
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
#     print(playing_stat)
    matchres = get_matchres(playing_stat)       # 팀별 경기결과 전처리
#     print(matchres)
    cum_pts = get_cuml_points(matchres)         # 팀별 누적승점 전처리
#     print(cum_pts)

    # 각 경기마다 팀별 누적승점 전처리
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
#         print(ht)
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
#     print(playing_stat)
    
    df_temp = pd.DataFrame()
    
    df_temp['HTP'] = HTP
    df_temp['ATP'] = ATP
    
#     playing_stat['HTP'] = HTP
#     playing_stat['ATP'] = ATP
    
#     print(playing_stat)
    
    return df_temp

# Apply to each dataset
playing_statistics_1 = pd.concat([playing_statistics_1, get_agg_points(raw_data_1)], axis=1)
playing_statistics_2 = pd.concat([playing_statistics_2, get_agg_points(raw_data_2)], axis=1)
playing_statistics_3 = pd.concat([playing_statistics_3, get_agg_points(raw_data_3)], axis=1)
playing_statistics_4 = pd.concat([playing_statistics_4, get_agg_points(raw_data_4)], axis=1)
playing_statistics_5 = pd.concat([playing_statistics_5, get_agg_points(raw_data_5)], axis=1)
playing_statistics_6 = pd.concat([playing_statistics_6, get_agg_points(raw_data_6)], axis=1)
playing_statistics_7 = pd.concat([playing_statistics_7, get_agg_points(raw_data_7)], axis=1)
playing_statistics_8 = pd.concat([playing_statistics_8, get_agg_points(raw_data_8)], axis=1)
playing_statistics_9 = pd.concat([playing_statistics_9, get_agg_points(raw_data_9)], axis=1)
playing_statistics_10 = pd.concat([playing_statistics_10, get_agg_points(raw_data_10)], axis=1)
playing_statistics_11 = pd.concat([playing_statistics_11, get_agg_points(raw_data_11)], axis=1)
playing_statistics_12 = pd.concat([playing_statistics_12, get_agg_points(raw_data_12)], axis=1)
playing_statistics_13 = pd.concat([playing_statistics_13, get_agg_points(raw_data_13)], axis=1)
playing_statistics_14 = pd.concat([playing_statistics_14, get_agg_points(raw_data_14)], axis=1)
playing_statistics_15 = pd.concat([playing_statistics_15, get_agg_points(raw_data_15)], axis=1)
playing_statistics_16 = pd.concat([playing_statistics_16, get_agg_points(raw_data_16)], axis=1)
playing_statistics_17 = pd.concat([playing_statistics_17, get_agg_points(raw_data_17)], axis=1)
playing_statistics_18 = pd.concat([playing_statistics_18, get_agg_points(raw_data_18)], axis=1)
playing_statistics_19 = pd.concat([playing_statistics_19, get_agg_points(raw_data_19)], axis=1)
playing_statistics_20 = pd.concat([playing_statistics_20, get_agg_points(raw_data_20)], axis=1)
playing_statistics_21 = pd.concat([playing_statistics_21, get_agg_points(raw_data_21)], axis=1)
playing_statistics_22 = pd.concat([playing_statistics_22, get_agg_points(raw_data_22)], axis=1)

playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,HTP,ATP
0,Brentford,Arsenal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,Man United,Leeds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2,Burnley,Brighton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
3,Chelsea,Crystal Palace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,Everton,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,45,58
376,Leicester,Southampton,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,49,40
377,Liverpool,Wolves,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89,51
378,Man City,Aston Villa,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90,45
379,Norwich,Tottenham,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,22,68

In [42]:
# Function to transform FTR into numeric data type
def transformResult(row):
    if(row.FTR == 'H'):
        return -1
    elif(row.FTR == 'A'):
        return 1
    else:
        return 0

def add_match_result(playing_stat, raw_data):
    playing_stat["Result"] = raw_data.apply(lambda row: transformResult(row),axis=1)
    return playing_stat


playing_statistics_1 = add_match_result(playing_statistics_1, raw_data_1)
playing_statistics_2 = add_match_result(playing_statistics_2, raw_data_2)
playing_statistics_3 = add_match_result(playing_statistics_3, raw_data_3)
playing_statistics_4 = add_match_result(playing_statistics_4, raw_data_4)
playing_statistics_5 = add_match_result(playing_statistics_5, raw_data_5)
playing_statistics_6 = add_match_result(playing_statistics_6, raw_data_6)
playing_statistics_7 = add_match_result(playing_statistics_7, raw_data_7)
playing_statistics_8 = add_match_result(playing_statistics_8, raw_data_8)
playing_statistics_9 = add_match_result(playing_statistics_9, raw_data_9)
playing_statistics_10 = add_match_result(playing_statistics_10, raw_data_10)
playing_statistics_11 = add_match_result(playing_statistics_11, raw_data_11)
playing_statistics_12 = add_match_result(playing_statistics_12, raw_data_12)
playing_statistics_13 = add_match_result(playing_statistics_13, raw_data_13)
playing_statistics_14 = add_match_result(playing_statistics_14, raw_data_14)
playing_statistics_15 = add_match_result(playing_statistics_15, raw_data_15)
playing_statistics_16 = add_match_result(playing_statistics_16, raw_data_16)
playing_statistics_17 = add_match_result(playing_statistics_17, raw_data_17)
playing_statistics_18 = add_match_result(playing_statistics_18, raw_data_18)
playing_statistics_19 = add_match_result(playing_statistics_19, raw_data_19)
playing_statistics_20 = add_match_result(playing_statistics_20, raw_data_20)
playing_statistics_21 = add_match_result(playing_statistics_21, raw_data_21)
playing_statistics_22 = add_match_result(playing_statistics_22, raw_data_22)

playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,HTP,ATP,Result
0,Brentford,Arsenal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,-1
1,Man United,Leeds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,-1
2,Burnley,Brighton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
3,Chelsea,Crystal Palace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,-1
4,Everton,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,45,58,0
376,Leicester,Southampton,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,49,40,0
377,Liverpool,Wolves,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89,51,0
378,Man City,Aston Villa,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90,45,0
379,Norwich,Tottenham,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,22,68,0

In [43]:
# 결과 원-핫 인코딩
from sklearn.preprocessing import OneHotEncoder

def result_onehotencoder(playing_stat):
    ohe = OneHotEncoder(sparse=False)
    
    df_temp = playing_stat['Result']
    df_temp = df_temp.to_numpy()
    df_temp = df_temp.reshape(-1, 1)

    ohe.fit(df_temp)
    onehot_temp = ohe.transform(df_temp)
    
#     print(df_temp)
#     print(onehot_temp)
    onehot_temp_table = pd.DataFrame(onehot_temp)
    onehot_temp_table.columns=['Home', 'draw', 'Away']
    
    playing_stat = pd.concat([playing_stat, onehot_temp_table], axis=1)
#     print(playing_stat)
    playing_stat = playing_stat.drop(['Result'], axis=1)

    return playing_stat


playing_statistics_1 = result_onehotencoder(playing_statistics_1)
playing_statistics_2 = result_onehotencoder(playing_statistics_2)
playing_statistics_3 = result_onehotencoder(playing_statistics_3)
playing_statistics_4 = result_onehotencoder(playing_statistics_4)
playing_statistics_5 = result_onehotencoder(playing_statistics_5)
playing_statistics_6 = result_onehotencoder(playing_statistics_6)
playing_statistics_7 = result_onehotencoder(playing_statistics_7)
playing_statistics_8 = result_onehotencoder(playing_statistics_8)
playing_statistics_9 = result_onehotencoder(playing_statistics_9)
playing_statistics_10 = result_onehotencoder(playing_statistics_10)
playing_statistics_11 = result_onehotencoder(playing_statistics_11)
playing_statistics_12 = result_onehotencoder(playing_statistics_12)
playing_statistics_13 = result_onehotencoder(playing_statistics_13)
playing_statistics_14 = result_onehotencoder(playing_statistics_14)
playing_statistics_15 = result_onehotencoder(playing_statistics_15)
playing_statistics_16 = result_onehotencoder(playing_statistics_16)
playing_statistics_17 = result_onehotencoder(playing_statistics_17)
playing_statistics_18 = result_onehotencoder(playing_statistics_18)
playing_statistics_19 = result_onehotencoder(playing_statistics_19)
playing_statistics_20 = result_onehotencoder(playing_statistics_20)
playing_statistics_21 = result_onehotencoder(playing_statistics_21)
playing_statistics_22 = result_onehotencoder(playing_statistics_22)

playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,HTP,ATP,Home,draw,Away
0,Brentford,Arsenal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
1,Man United,Leeds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
2,Burnley,Brighton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
3,Chelsea,Crystal Palace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
4,Everton,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,45,58,0.0,1.0,0.0
376,Leicester,Southampton,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,49,40,0.0,1.0,0.0
377,Liverpool,Wolves,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89,51,0.0,1.0,0.0
378,Man City,Aston Villa,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90,45,0.0,1.0,0.0
379,Norwich,Tottenham,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,22,68,0.0,1.0,0.0

In [44]:
# 시즌별 데이터 concat

playing_statistics_list = [playing_statistics_1, playing_statistics_2, playing_statistics_3, playing_statistics_4, \
                              playing_statistics_5, playing_statistics_6, playing_statistics_7, playing_statistics_8, \
                              playing_statistics_9, playing_statistics_10, playing_statistics_11, playing_statistics_12, \
                              playing_statistics_13, playing_statistics_14, playing_statistics_15, playing_statistics_16, \
                              playing_statistics_17, playing_statistics_18, playing_statistics_19, playing_statistics_20, \
                              playing_statistics_21, playing_statistics_22]



playing_statistics_total = pd.concat(playing_statistics_list, ignore_index=True)

# 잘못 표기된 팀명 변경
# playing_statistics_total[playing_statistics_total['HomeTeam'] == 'Middlesboro'] = 'Middlesbrough'
# playing_statistics_total.to_csv("DataFrame_temp/playing_statistics_total.csv")
playing_statistics_total

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,HTP,ATP,Home,draw,Away
0,Charlton,Man City,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
1,Chelsea,West Ham,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
2,Coventry,Middlesbrough,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
3,Derby,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,1.0,0.0
4,Leeds,Everton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,Crystal Palace,Man United,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,45,58,0.0,1.0,0.0
8356,Leicester,Southampton,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,49,40,0.0,1.0,0.0
8357,Liverpool,Wolves,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89,51,0.0,1.0,0.0
8358,Man City,Aston Villa,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90,45,0.0,1.0,0.0
8359,Norwich,Tottenham,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,22,68,0.0,1.0,0.0

In [45]:
# HomeTeam 인코딩
ohe = OneHotEncoder(sparse=False)

df_temp = playing_statistics_total['HomeTeam']
df_temp = df_temp.to_numpy()
df_temp = df_temp.reshape(-1, 1)
ohe.fit(df_temp)
onehot_temp = ohe.transform(df_temp)

onehot_temp_table_home = pd.DataFrame(onehot_temp)

# 인코딩 레이블명 변경
temp = playing_statistics_total['HomeTeam'].unique()
temp.sort()
temp = ['Home_'+i for i in temp]
onehot_temp_table_home.columns = temp

# AwayTeam 인코딩
ohe = OneHotEncoder(sparse=False)

df_temp = playing_statistics_total['AwayTeam']
df_temp = df_temp.to_numpy()
df_temp = df_temp.reshape(-1, 1)
ohe.fit(df_temp)
onehot_temp = ohe.transform(df_temp)

onehot_temp_table_away = pd.DataFrame(onehot_temp)

# 인코딩 레이블명 변경
temp = playing_statistics_total['AwayTeam'].unique()
temp.sort()
temp = ['Away_'+i for i in temp]
onehot_temp_table_away.columns = temp

onehot_temp_table_away

,Away_Arsenal,Away_Aston Villa,Away_Birmingham,Away_Blackburn,Away_Blackpool,Away_Bolton,Away_Bournemouth,Away_Bradford,Away_Brentford,Away_Brighton,...,Away_Southampton,Away_Stoke,Away_Sunderland,Away_Swansea,Away_Tottenham,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8358,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [46]:
# 인코딩 데이터 합치기
playing_statistics_total_final = pd.concat([onehot_temp_table_home, onehot_temp_table_away, playing_statistics_total], axis=1)

# 팀명(문자열) 레이블 제거
playing_statistics_total_final = playing_statistics_total_final.drop(['HomeTeam', 'AwayTeam'], axis=1)

playing_statistics_total_final

,Home_Arsenal,Home_Aston Villa,Home_Birmingham,Home_Blackburn,Home_Blackpool,Home_Bolton,Home_Bournemouth,Home_Bradford,Home_Brentford,Home_Brighton,...,ATGC,HS,AS,HST,AST,HTP,ATP,Home,draw,Away
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56.0,406.0,498.0,144.0,183.0,45,58,0.0,1.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,63.0,423.0,475.0,163.0,168.0,49,40,0.0,1.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40.0,701.0,395.0,248.0,131.0,89,51,0.0,1.0,0.0
8358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,51.0,691.0,450.0,249.0,160.0,90,45,0.0,1.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,40.0,365.0,472.0,109.0,185.0,22,68,0.0,1.0,0.0

In [47]:
## 데이터 나누기
train_len = 380 * 21 + 370      # 라운드 * 10만큼 더해주기

playing_statistics_train = playing_statistics_total_final[:train_len]
playing_statistics_test = playing_statistics_total_final[train_len:]

print(len(playing_statistics_train))
print(len(playing_statistics_test))

8350
10

In [48]:
# X, Y 나누기
X_train = playing_statistics_train.loc[:, "Home_Arsenal":"ATP"]
y_train = playing_statistics_train.loc[:, "Home":"Away"]

X_test = playing_statistics_test.loc[:, "Home_Arsenal":"ATP"]
y_test = playing_statistics_test.loc[:, "Home":"Away"]


# X_test.loc[:,"Middlesbrough"]

In [49]:
# lstm 입력층에 맞게 reshape-

import numpy as np
X_train = np.array(X_train).reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = np.array(X_test).reshape(X_test.shape[0], X_test.shape[1], 1)

In [50]:
from keras.models import Sequential, Model
from keras.layers import Dense, LSTM, Input

# 1번 모델
def classic_sequence_classifier_1():
    input = Input(shape=(100, 1))
    x = LSTM(32, activation='tanh', return_sequences=True)(input)
    x = LSTM(32, activation='tanh', return_sequences=True)(x)
    x = LSTM(32, activation='tanh')(x)
#     x = LSTM(8, activation='tanh')(x)
    x = Dense(3, activation='softmax')(x)
    return Model(input, x)

classic_model_1 = classic_sequence_classifier_1()

classic_model_1.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_2 (InputLayer)        [(None, 100, 1)]          0

 lstm_3 (LSTM)               (None, 100, 32)           4352

 lstm_4 (LSTM)               (None, 100, 32)           8320

 lstm_5 (LSTM)               (None, 32)                8320

 dense_1 (Dense)             (None, 3)                 99

=================================================================
Total params: 21,091
Trainable params: 21,091
Non-trainable params: 0
_________________________________________________________________

In [51]:
from keras.callbacks import EarlyStopping
es = EarlyStopping(monitor='loss', verbose=1, patience=3)
# 모델 저장 시 checkpoint 추가

# 1번
# classic_model_1.compile(optimizer='adam', loss='mean_squared_error')
classic_model_1.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
history1 = classic_model_1.fit(X_train, y_train, epochs=1000, batch_size=128, callbacks=[es])
# classic_model_1.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

Epoch 1/1000
66/66 [==============================] - 24s 319ms/step - loss: 1.0679 - accuracy: 0.4525
Epoch 2/1000
66/66 [==============================] - 21s 319ms/step - loss: 1.0642 - accuracy: 0.4586
Epoch 3/1000
66/66 [==============================] - 21s 317ms/step - loss: 1.0636 - accuracy: 0.4586
Epoch 4/1000
66/66 [==============================] - 21s 319ms/step - loss: 1.0626 - accuracy: 0.4586
Epoch 5/1000
66/66 [==============================] - 21s 313ms/step - loss: 1.0632 - accuracy: 0.4586
Epoch 6/1000
66/66 [==============================] - 21s 316ms/step - loss: 1.0624 - accuracy: 0.4586
Epoch 7/1000
66/66 [==============================] - 21s 316ms/step - loss: 1.0622 - accuracy: 0.4541
Epoch 8/1000
66/66 [==============================] - 21s 317ms/step - loss: 1.0507 - accuracy: 0.4605
Epoch 9/1000
66/66 [==============================] - 21s 314ms/step - loss: 1.0130 - accuracy: 0.5048
Epoch 10/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9983 - accuracy: 0.5129
Epoch 11/1000
66/66 [==============================] - 21s 313ms/step - loss: 0.9967 - accuracy: 0.5162
Epoch 12/1000
66/66 [==============================] - 21s 318ms/step - loss: 0.9944 - accuracy: 0.5153
Epoch 13/1000
66/66 [==============================] - 21s 315ms/step - loss: 0.9927 - accuracy: 0.5176
Epoch 14/1000
66/66 [==============================] - 20s 310ms/step - loss: 0.9919 - accuracy: 0.5184
Epoch 15/1000
66/66 [==============================] - 21s 314ms/step - loss: 0.9902 - accuracy: 0.5206
Epoch 16/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9888 - accuracy: 0.5214
Epoch 17/1000
66/66 [==============================] - 21s 319ms/step - loss: 0.9891 - accuracy: 0.5205
Epoch 18/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9877 - accuracy: 0.5226
Epoch 19/1000
66/66 [==============================] - 21s 315ms/step - loss: 0.9895 - accuracy: 0.5177
Epoch 20/1000
66/66 [==============================] - 21s 318ms/step - loss: 0.9901 - accuracy: 0.5152
Epoch 21/1000
66/66 [==============================] - 21s 313ms/step - loss: 0.9863 - accuracy: 0.5219
Epoch 22/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9878 - accuracy: 0.5194
Epoch 23/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9873 - accuracy: 0.5193
Epoch 24/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9862 - accuracy: 0.5214
Epoch 25/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9862 - accuracy: 0.5182
Epoch 26/1000
66/66 [==============================] - 21s 315ms/step - loss: 0.9847 - accuracy: 0.5235
Epoch 27/1000
66/66 [==============================] - 21s 315ms/step - loss: 0.9856 - accuracy: 0.5222
Epoch 28/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9854 - accuracy: 0.5228
Epoch 29/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9845 - accuracy: 0.5208
Epoch 30/1000
66/66 [==============================] - 21s 312ms/step - loss: 0.9839 - accuracy: 0.5224
Epoch 31/1000
66/66 [==============================] - 21s 314ms/step - loss: 0.9834 - accuracy: 0.5216
Epoch 32/1000
66/66 [==============================] - 21s 313ms/step - loss: 0.9827 - accuracy: 0.5240
Epoch 33/1000
66/66 [==============================] - 21s 317ms/step - loss: 0.9823 - accuracy: 0.5265
Epoch 34/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9822 - accuracy: 0.5255
Epoch 35/1000
66/66 [==============================] - 21s 313ms/step - loss: 0.9815 - accuracy: 0.5225
Epoch 36/1000
66/66 [==============================] - 21s 314ms/step - loss: 0.9816 - accuracy: 0.5257
Epoch 37/1000
66/66 [==============================] - 21s 314ms/step - loss: 0.9844 - accuracy: 0.5241
Epoch 38/1000
66/66 [==============================] - 21s 315ms/step - loss: 0.9810 - accuracy: 0.5247
Epoch 39/1000
66/66 [==============================] - 21s 320ms/step - loss: 0.9826 - accuracy: 0.5247
Epoch 40/1000
66/66 [==============================] - 21s 314ms/step - loss: 0.9809 - accuracy: 0.5257
Epoch 41/1000
66/66 [==============================] - 21s 311ms/step - loss: 0.9813 - accuracy: 0.5231
Epoch 42/1000
66/66 [==============================] - 21s 315ms/step - loss: 0.9814 - accuracy: 0.5232
Epoch 43/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9799 - accuracy: 0.5247
Epoch 44/1000
66/66 [==============================] - 21s 317ms/step - loss: 0.9808 - accuracy: 0.5249
Epoch 45/1000
66/66 [==============================] - 21s 314ms/step - loss: 0.9803 - accuracy: 0.5243
Epoch 46/1000
66/66 [==============================] - 21s 317ms/step - loss: 0.9788 - accuracy: 0.5238
Epoch 47/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9796 - accuracy: 0.5251
Epoch 48/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9795 - accuracy: 0.5271
Epoch 49/1000
66/66 [==============================] - 21s 316ms/step - loss: 0.9791 - accuracy: 0.5244
Epoch 49: early stopping

In [52]:
score = classic_model_1.evaluate(X_test, y_test)
print("Test loss: ", score[0])
print("Test accuracy: ", score[1])
yhat = classic_model_1.predict(X_test)

1/1 [==============================] - 1s 939ms/step - loss: 1.6170 - accuracy: 0.0000e+00
Test loss:  1.6170352697372437
Test accuracy:  0.0

In [53]:
predicted = yhat.argmax(axis=-1)
predicted

array([0, 0, 0, 2, 0, 2, 0, 0, 0, 2])

In [54]:
yhat

array([[0.6767127 , 0.1951066 , 0.12818065],
       [0.53462785, 0.2525099 , 0.21286231],
       [0.3944212 , 0.28979596, 0.31578293],
       [0.36149094, 0.27008927, 0.3684198 ],
       [0.7829336 , 0.15287547, 0.064191  ],
       [0.3209247 , 0.2159695 , 0.46310583],
       [0.59482837, 0.217455  , 0.18771663],
       [0.8159382 , 0.12546912, 0.05859276],
       [0.7834691 , 0.1419058 , 0.07462517],
       [0.21588609, 0.192539  , 0.59157485]], dtype=float32)

In [55]:
y_test

      Home  draw  Away
8350   0.0   1.0   0.0
8351   0.0   1.0   0.0
8352   0.0   1.0   0.0
8353   0.0   1.0   0.0
8354   0.0   1.0   0.0
8355   0.0   1.0   0.0
8356   0.0   1.0   0.0
8357   0.0   1.0   0.0
8358   0.0   1.0   0.0
8359   0.0   1.0   0.0

In [56]:
raw_data_22.loc[370, 'HomeTeam']
test_team_list_home = []
test_team_list_away = []

for i in range(10):
    test_team_list_home.append(raw_data_22.loc[len(raw_data_22)-10+i, 'HomeTeam'])
    test_team_list_away.append(raw_data_22.loc[len(raw_data_22)-10+i, 'AwayTeam'])

In [57]:
test_team_list_home

['Arsenal',
 'Brentford',
 'Brighton',
 'Burnley',
 'Chelsea',
 'Crystal Palace',
 'Leicester',
 'Liverpool',
 'Man City',
 'Norwich']

In [58]:
test_team_list_away

['Everton',
 'Leeds',
 'West Ham',
 'Newcastle',
 'Watford',
 'Man United',
 'Southampton',
 'Wolves',
 'Aston Villa',
 'Tottenham']

In [59]:
predicted_json = np.round(yhat, 2)

In [60]:
predicted_json

array([[0.68, 0.2 , 0.13],
       [0.53, 0.25, 0.21],
       [0.39, 0.29, 0.32],
       [0.36, 0.27, 0.37],
       [0.78, 0.15, 0.06],
       [0.32, 0.22, 0.46],
       [0.59, 0.22, 0.19],
       [0.82, 0.13, 0.06],
       [0.78, 0.14, 0.07],
       [0.22, 0.19, 0.59]], dtype=float32)

In [61]:
predicted_json[0][1]

0.2

In [62]:
import json

data = {
    "game_1" : {
        "HomeTeam" : str(test_team_list_home[0]),
        "AwayTeam" : str(test_team_list_away[0]),
        "Result" : {
            "Result_Home" : str(predicted_json[0][0]),
            "Result_Draw" : str(predicted_json[0][1]),
            "Result_Away" : str(predicted_json[0][2])
        }
    },
    "game_2" : {
        "HomeTeam" : str(test_team_list_home[1]),
        "AwayTeam" : str(test_team_list_away[1]),
        "Result" : {
            "Result_Home" : str(predicted_json[1][0]),
            "Result_Draw" : str(predicted_json[1][1]),
            "Result_Away" : str(predicted_json[1][2])
        }
    },
    "game_3" : {
        "HomeTeam" : str(test_team_list_home[2]),
        "AwayTeam" : str(test_team_list_away[2]),
        "Result" : {
            "Result_Home" : str(predicted_json[2][0]),
            "Result_Draw" : str(predicted_json[2][1]),
            "Result_Away" : str(predicted_json[2][2])
        }
    },
    "game_4" : {
        "HomeTeam" : str(test_team_list_home[3]),
        "AwayTeam" : str(test_team_list_away[3]),
        "Result" : {
            "Result_Home" : str(predicted_json[3][0]),
            "Result_Draw" : str(predicted_json[3][1]),
            "Result_Away" : str(predicted_json[3][2])
        }
    },
    "game_5" : {
        "HomeTeam" : str(test_team_list_home[4]),
        "AwayTeam" : str(test_team_list_away[5]),
        "Result" : {
            "Result_Home" : str(predicted_json[4][0]),
            "Result_Draw" : str(predicted_json[4][1]),
            "Result_Away" : str(predicted_json[4][2])
        }
    },
    "game_6" : {
        "HomeTeam" : str(test_team_list_home[5]),
        "AwayTeam" : str(test_team_list_away[5]),
        "Result" : {
            "Result_Home" : str(predicted_json[5][0]),
            "Result_Draw" : str(predicted_json[5][1]),
            "Result_Away" : str(predicted_json[5][2])
        }
    },
    "game_7" : {
        "HomeTeam" : str(test_team_list_home[6]),
        "AwayTeam" : str(test_team_list_away[6]),
        "Result" : {
            "Result_Home" : str(predicted_json[6][0]),
            "Result_Draw" : str(predicted_json[6][1]),
            "Result_Away" : str(predicted_json[6][2])
        }
    },
    "game_8" : {
        "HomeTeam" : str(test_team_list_home[7]),
        "AwayTeam" : str(test_team_list_away[7]),
        "Result" : {
            "Result_Home" : str(predicted_json[7][0]),
            "Result_Draw" : str(predicted_json[7][1]),
            "Result_Away" : str(predicted_json[7][2])
        }
    },
    "game_9" : {
        "HomeTeam" : str(test_team_list_home[8]),
        "AwayTeam" : str(test_team_list_away[8]),
        "Result" : {
            "Result_Home" : str(predicted_json[8][0]),
            "Result_Draw" : str(predicted_json[8][1]),
            "Result_Away" : str(predicted_json[8][2])
        }
    },
    "game_10" : {
        "HomeTeam" : str(test_team_list_home[9]),
        "AwayTeam" : str(test_team_list_away[9]),
        "Result" : {
            "Result_Home" : str(predicted_json[9][0]),
            "Result_Draw" : str(predicted_json[9][1]),
            "Result_Away" : str(predicted_json[9][2])
        }
    }
}

file_path = "test.json"

with open(file_path, 'w', encoding='utf-8') as file:
    json.dump(data, file)

In [63]:
data

{'game_1': {'HomeTeam': 'Arsenal',
  'AwayTeam': 'Everton',
  'Result': {'Result_Home': '0.68',
   'Result_Draw': '0.2',
   'Result_Away': '0.13'}},
 'game_2': {'HomeTeam': 'Brentford',
  'AwayTeam': 'Leeds',
  'Result': {'Result_Home': '0.53',
   'Result_Draw': '0.25',
   'Result_Away': '0.21'}},
 'game_3': {'HomeTeam': 'Brighton',
  'AwayTeam': 'West Ham',
  'Result': {'Result_Home': '0.39',
   'Result_Draw': '0.29',
   'Result_Away': '0.32'}},
 'game_4': {'HomeTeam': 'Burnley',
  'AwayTeam': 'Newcastle',
  'Result': {'Result_Home': '0.36',
   'Result_Draw': '0.27',
   'Result_Away': '0.37'}},
 'game_5': {'HomeTeam': 'Chelsea',
  'AwayTeam': 'Man United',
  'Result': {'Result_Home': '0.78',
   'Result_Draw': '0.15',
   'Result_Away': '0.06'}},
 'game_6': {'HomeTeam': 'Crystal Palace',
  'AwayTeam': 'Man United',
  'Result': {'Result_Home': '0.32',
   'Result_Draw': '0.22',
   'Result_Away': '0.46'}},
 'game_7': {'HomeTeam': 'Leicester',
  'AwayTeam': 'Southampton',
  'Result': {'Result_Home': '0.59',
   'Result_Draw': '0.22',
   'Result_Away': '0.19'}},
 'game_8': {'HomeTeam': 'Liverpool',
  'AwayTeam': 'Wolves',
  'Result': {'Result_Home': '0.82',
   'Result_Draw': '0.13',
   'Result_Away': '0.06'}},
 'game_9': {'HomeTeam': 'Man City',
  'AwayTeam': 'Aston Villa',
  'Result': {'Result_Home': '0.78',
   'Result_Draw': '0.14',
   'Result_Away': '0.07'}},
 'game_10': {'HomeTeam': 'Norwich',
  'AwayTeam': 'Tottenham',
  'Result': {'Result_Home': '0.22',
   'Result_Draw': '0.19',
   'Result_Away': '0.59'}}}