In [184]:
import pandas as pd


loc = "../Datasets/"

raw_data_1 = pd.read_csv(loc + '2000-01.csv')
raw_data_2 = pd.read_csv(loc + '2001-02.csv')
raw_data_3 = pd.read_csv(loc + '2002-03.csv')
raw_data_4 = pd.read_csv(loc + '2003-04.csv')
raw_data_5 = pd.read_csv(loc + '2004-05.csv')
raw_data_6 = pd.read_csv(loc + '2005-06.csv')
raw_data_7 = pd.read_csv(loc + '2006-07.csv')
raw_data_8 = pd.read_csv(loc + '2007-08.csv')
raw_data_9 = pd.read_csv(loc + '2008-09.csv')
raw_data_10 = pd.read_csv(loc + '2009-10.csv')
raw_data_11 = pd.read_csv(loc + '2010-11.csv')
raw_data_12 = pd.read_csv(loc + '2011-12.csv')
raw_data_13 = pd.read_csv(loc + '2012-13.csv')
raw_data_14 = pd.read_csv(loc + '2013-14.csv')
raw_data_15 = pd.read_csv(loc + '2014-15.csv')
raw_data_16 = pd.read_csv(loc + '2015-16.csv')
raw_data_17 = pd.read_csv(loc + '2016-17.csv')
raw_data_18 = pd.read_csv(loc + '2017-18.csv')
raw_data_19 = pd.read_csv(loc + '2018-19.csv')
raw_data_20 = pd.read_csv(loc + '2019-20.csv')
raw_data_21 = pd.read_csv(loc + '2020-21.csv')
raw_data_22 = pd.read_csv(loc + '2021-22.csv')

raw_data_22

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2.0,0.0,H,1.0,0.0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5.0,1.0,H,1.0,0.0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1.0,2.0,A,1.0,0.0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3.0,0.0,H,2.0,0.0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3.0,1.0,H,0.0,1.0,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,E0,22/05/2022,16:00,Leicester,Southampton,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,E0,22/05/2022,16:00,Liverpool,Wolves,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,E0,22/05/2022,16:00,Man City,Aston Villa,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,E0,22/05/2022,16:00,Norwich,Tottenham,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
feature_list = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']

raw_data_1 = raw_data_1[feature_list]
raw_data_2 = raw_data_2[feature_list]
raw_data_3 = raw_data_3[feature_list]
raw_data_4 = raw_data_4[feature_list]
raw_data_5 = raw_data_5[feature_list]
raw_data_6 = raw_data_6[feature_list]
raw_data_7 = raw_data_7[feature_list]
raw_data_8 = raw_data_8[feature_list]
raw_data_9 = raw_data_9[feature_list]
raw_data_10 = raw_data_10[feature_list]
raw_data_11 = raw_data_11[feature_list]
raw_data_12 = raw_data_12[feature_list]
raw_data_13 = raw_data_13[feature_list]
raw_data_14 = raw_data_14[feature_list]
raw_data_15 = raw_data_15[feature_list]
raw_data_16 = raw_data_16[feature_list]
raw_data_17 = raw_data_17[feature_list]
raw_data_18 = raw_data_18[feature_list]
raw_data_19 = raw_data_19[feature_list]
raw_data_20 = raw_data_20[feature_list]
raw_data_21 = raw_data_21[feature_list]
raw_data_22 = raw_data_22[feature_list]

In [186]:
feature_list = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']

raw_data_22 = raw_data_22[feature_list]

In [187]:
columns_req = ['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR']

playing_statistics_22 = raw_data_22[columns_req]

In [188]:
# 홈/원정 팀 골득실 전처리
# 슈팅 개수, 유효슈팅 개수 전처리

def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    GoalsScored[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
#     print(GoalsScored)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]

#     print(GoalsScored)
    return GoalsScored
    
    
def get_goals_conceded(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        ATGC = playing_stat.iloc[i]['FTHG']
        HTGC = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGC)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGC)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
#     print(match_round_len)
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    GoalsConceded = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    GoalsConceded[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsConceded[i] = GoalsConceded[i] + GoalsConceded[i-1]
        
#     print(GoalsConceded)
    return GoalsConceded


# def get_etc_stats(playing_stat):
    
# 슈팅 개수 전처리
def get_shoots(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HS = playing_stat.iloc[i]['HS']
        AS = playing_stat.iloc[i]['AS']
        teams[playing_stat.iloc[i].HomeTeam].append(HS)
        teams[playing_stat.iloc[i].AwayTeam].append(AS)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    Shoots = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    Shoots[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        Shoots[i] = Shoots[i] + Shoots[i-1]

#     print(GoalsScored)
    return Shoots


# 유효 슈팅 개수 전처리
def get_shoots_on_target(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
#     print(teams)
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HST = playing_stat.iloc[i]['HST']
        AST = playing_stat.iloc[i]['AST']
        teams[playing_stat.iloc[i].HomeTeam].append(HST)
        teams[playing_stat.iloc[i].AwayTeam].append(AST)
#     print(teams)
    
    match_round_len = ((len(playing_stat)+1) // 10) + 1
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    # 행이 팀이고 열이 라운드인 dataframe 생성하여 각 라운드별로 먹힌 골 수 넣기
    ShootsOnTarget = pd.DataFrame(data=teams, index = [i for i in range(1,match_round_len)]).T
    ShootsOnTarget[0] = 0    # 마지막(39라운드)에 0을 넣은 열 추가(???)
    
    # Aggregate to get uptil that point
    for i in range(2,39):
        ShootsOnTarget[i] = ShootsOnTarget[i] + ShootsOnTarget[i-1]

#     print(GoalsScored)
    return ShootsOnTarget


def get_gss(playing_stat):
    GC = get_goals_conceded(playing_stat)
    GS = get_goals_scored(playing_stat)
    S = get_shoots(playing_stat)
    SoT = get_shoots_on_target(playing_stat)

    
#     print(GC)

    j = 0
    HTGS = []    # 홈 팀 넣은 골
    ATGS = []    # 원정 팀 넣은 골
    HTGC = []    # 홈 팀 먹힌 골
    ATGC = []    # 원정 팀 먹힌 골
    HS = []      # 홈 팀 슈팅 개수
    AS = []      # 원정 팀 슈팅 개수
    HTSoT = []      # 홈 팀 슈팅 개수
    ATSoT = []      # 원정 팀 슈팅 개수

    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
        at = playing_stat.iloc[i].AwayTeam
        HTGS.append(GS.loc[ht][j])
        ATGS.append(GS.loc[at][j])
        HTGC.append(GC.loc[ht][j])
        ATGC.append(GC.loc[at][j])
        HS.append(S.loc[ht][j])
        AS.append(S.loc[at][j])
        HTSoT.append(SoT.loc[ht][j])
        ATSoT.append(SoT.loc[at][j])
        
        if ((i + 1)% 10) == 0:
            j = j + 1
    
    df_temp = pd.DataFrame()
    
    df_temp['HomeTeam'] = playing_stat['HomeTeam']
    df_temp['AwayTeam'] = playing_stat['AwayTeam']
    
    df_temp['HTGS'] = HTGS
    df_temp['ATGS'] = ATGS
    df_temp['HTGC'] = HTGC
    df_temp['ATGC'] = ATGC
    
    df_temp['HS'] = HS
    df_temp['AS'] = AS
    df_temp['HST'] = HTSoT
    df_temp['AST'] = ATSoT
    
#     print(playing_stat)
    
#     playing_stat.drop(['FTHG', 'FTAG'], axis=1, inplace=True)
    
    return df_temp
    
playing_statistics_22 = get_gss(raw_data_22)

playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST
0,Brentford,Arsenal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Man United,Leeds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Burnley,Brighton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Chelsea,Crystal Palace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Everton,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0
376,Leicester,Southampton,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0
377,Liverpool,Wolves,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0
378,Man City,Aston Villa,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0
379,Norwich,Tottenham,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0

In [189]:
## 각 경기마다 팀별 누적승점 전처리

def get_points(result):
    if result == 'W':
        return 3
    elif result == 'D':
        return 1
    else:
        return 0
    

def get_cuml_points(matchres):
    matchres_points = matchres.applymap(get_points)
    for i in range(2,39):
        matchres_points[i] = matchres_points[i] + matchres_points[i-1]
        
    matchres_points.insert(column =0, loc = 0, value = [0*i for i in range(20)])
    return matchres_points


def get_matchres(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []

    # the value corresponding to keys is a list containing the match result
    for i in range(len(playing_stat)):
        if playing_stat.iloc[i].FTR == 'H':
            teams[playing_stat.iloc[i].HomeTeam].append('W')
            teams[playing_stat.iloc[i].AwayTeam].append('L')
        elif playing_stat.iloc[i].FTR == 'A':
            teams[playing_stat.iloc[i].AwayTeam].append('W')
            teams[playing_stat.iloc[i].HomeTeam].append('L')
        else:
            teams[playing_stat.iloc[i].AwayTeam].append('D')
            teams[playing_stat.iloc[i].HomeTeam].append('D')
    
#     print(teams)
    
    return pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T

def get_agg_points(playing_stat):
#     print(playing_stat)
    matchres = get_matchres(playing_stat)       # 팀별 경기결과 전처리
#     print(matchres)
    cum_pts = get_cuml_points(matchres)         # 팀별 누적승점 전처리
#     print(cum_pts)

    # 각 경기마다 팀별 누적승점 전처리
    HTP = []
    ATP = []
    j = 0
    for i in range(380):
        ht = playing_stat.iloc[i].HomeTeam
#         print(ht)
        at = playing_stat.iloc[i].AwayTeam
        HTP.append(cum_pts.loc[ht][j])
        ATP.append(cum_pts.loc[at][j])

        if ((i + 1)% 10) == 0:
            j = j + 1
#     print(playing_stat)
    
    df_temp = pd.DataFrame()
    
    df_temp['HTP'] = HTP
    df_temp['ATP'] = ATP
    
#     playing_stat['HTP'] = HTP
#     playing_stat['ATP'] = ATP
    
#     print(playing_stat)
    
    return df_temp

# Apply to each dataset
playing_statistics_22 = pd.concat([playing_statistics_22, get_agg_points(raw_data_22)], axis=1)

playing_statistics_22

,HomeTeam,AwayTeam,HTGS,ATGS,HTGC,ATGC,HS,AS,HST,AST,HTP,ATP
0,Brentford,Arsenal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
1,Man United,Leeds,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
2,Burnley,Brighton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
3,Chelsea,Crystal Palace,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,Everton,Southampton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
375,Crystal Palace,Man United,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,45,58
376,Leicester,Southampton,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,49,40
377,Liverpool,Wolves,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89,51
378,Man City,Aston Villa,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90,45
379,Norwich,Tottenham,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,22,68

In [190]:
# # Function to transform FTR into numeric data type
# def transformResult(row):
#     if(row.FTR == 'H'):
#         return -1
#     elif(row.FTR == 'A'):
#         return 1
#     else:
#         return 0

# def add_match_result(playing_stat, raw_data):
#     playing_stat["Result"] = raw_data.apply(lambda row: transformResult(row),axis=1)
#     return playing_stat

# playing_statistics_22 = add_match_result(playing_statistics_22, raw_data_22)

# playing_statistics_22

In [191]:
# # 결과 원-핫 인코딩
# from sklearn.preprocessing import OneHotEncoder

# def result_onehotencoder(playing_stat):
#     ohe = OneHotEncoder(sparse=False)
    
#     df_temp = playing_stat['Result']
#     df_temp = df_temp.to_numpy()
#     df_temp = df_temp.reshape(-1, 1)

#     ohe.fit(df_temp)
#     onehot_temp = ohe.transform(df_temp)
    
# #     print(df_temp)
# #     print(onehot_temp)
#     onehot_temp_table = pd.DataFrame(onehot_temp)
#     onehot_temp_table.columns=['Home', 'draw', 'Away']
    
#     playing_stat = pd.concat([playing_stat, onehot_temp_table], axis=1)
# #     print(playing_stat)
#     playing_stat = playing_stat.drop(['Result'], axis=1)

#     return playing_stat



# playing_statistics_22 = result_onehotencoder(playing_statistics_22)

# playing_statistics_22

In [192]:
# 시즌별 데이터 concat

raw_data_list = [raw_data_1, raw_data_2, raw_data_3, raw_data_4, raw_data_5, raw_data_6, raw_data_7, raw_data_8, raw_data_9, \
                 raw_data_10, raw_data_11, raw_data_12, raw_data_13, raw_data_14, raw_data_15, raw_data_16, raw_data_17, raw_data_18, raw_data_19, raw_data_20, raw_data_21, raw_data_22]



raw_data_total = pd.concat(raw_data_list, ignore_index=True)

# 잘못 표기된 팀명 변경
# playing_statistics_total[playing_statistics_total['HomeTeam'] == 'Middlesboro'] = 'Middlesbrough'
# playing_statistics_total.to_csv("DataFrame_temp/playing_statistics_total.csv")
raw_data_total

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,Charlton,Man City,4.0,0.0,H,2.0,0.0,H,17.0,8.0,14.0,4.0,13.0,12.0,6.0,6.0,1.0,2.0,0.0,0.0
1,Chelsea,West Ham,4.0,2.0,H,1.0,0.0,H,17.0,12.0,10.0,5.0,19.0,14.0,7.0,7.0,1.0,2.0,0.0,0.0
2,Coventry,Middlesbrough,1.0,3.0,A,1.0,1.0,D,6.0,16.0,3.0,9.0,15.0,21.0,8.0,4.0,5.0,3.0,1.0,0.0
3,Derby,Southampton,2.0,2.0,D,1.0,2.0,A,6.0,13.0,4.0,6.0,11.0,13.0,5.0,8.0,1.0,1.0,0.0,0.0
4,Leeds,Everton,2.0,0.0,H,2.0,0.0,H,17.0,12.0,8.0,6.0,21.0,20.0,6.0,4.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,Crystal Palace,Man United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8356,Leicester,Southampton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8357,Liverpool,Wolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8358,Man City,Aston Villa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8359,Norwich,Tottenham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
# HomeTeam 인코딩
ohe = OneHotEncoder(sparse=False)

df_temp = raw_data_total['HomeTeam']
df_temp = df_temp.to_numpy()
df_temp = df_temp.reshape(-1, 1)
ohe.fit(df_temp)
onehot_temp = ohe.transform(df_temp)

onehot_temp_table_home = pd.DataFrame(onehot_temp)

# 인코딩 레이블명 변경
temp = raw_data_total['HomeTeam'].unique()
temp.sort()
temp = ['Home_'+i for i in temp]
onehot_temp_table_home.columns = temp

# AwayTeam 인코딩
ohe = OneHotEncoder(sparse=False)

df_temp = raw_data_total['AwayTeam']
df_temp = df_temp.to_numpy()
df_temp = df_temp.reshape(-1, 1)
ohe.fit(df_temp)
onehot_temp = ohe.transform(df_temp)

onehot_temp_table_away = pd.DataFrame(onehot_temp)

# 인코딩 레이블명 변경
temp = raw_data_total['AwayTeam'].unique()
temp.sort()
temp = ['Away_'+i for i in temp]
onehot_temp_table_away.columns = temp

onehot_temp_table_away

,Away_Arsenal,Away_Aston Villa,Away_Birmingham,Away_Blackburn,Away_Blackpool,Away_Bolton,Away_Bournemouth,Away_Bradford,Away_Brentford,Away_Brighton,...,Away_Southampton,Away_Stoke,Away_Sunderland,Away_Swansea,Away_Tottenham,Away_Watford,Away_West Brom,Away_West Ham,Away_Wigan,Away_Wolves
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8358,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [194]:
# 팀명(문자열) 레이블 제거
playing_statistics_22 = playing_statistics_22.drop(['HomeTeam', 'AwayTeam'], axis=1)

# 인덱스 초기화
onehot_temp_table_home = onehot_temp_table_home.loc[len(onehot_temp_table_home)-10:].reset_index(drop=True)
onehot_temp_table_away = onehot_temp_table_away.loc[len(onehot_temp_table_away)-10:].reset_index(drop=True)
playing_statistics_22 = playing_statistics_22.loc[len(playing_statistics_22)-10:].reset_index(drop=True)

# 인코딩 데이터 합치기
raw_data_total_final = pd.concat([onehot_temp_table_home.loc[len(onehot_temp_table_home)-10:], onehot_temp_table_away.loc[len(onehot_temp_table_away)-10:], playing_statistics_22.loc[len(playing_statistics_22)-10:]], axis=1, ignore_index=True)

raw_data_total_final

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56.0,42.0,47.0,61.0,562.0,432.0,188.0,136.0,66,39
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,47.0,40.0,54.0,78.0,428.0,471.0,149.0,148.0,46,35
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,39.0,59.0,43.0,48.0,472.0,426.0,145.0,156.0,48,56
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33.0,42.0,51.0,61.0,395.0,440.0,120.0,142.0,35,46
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74.0,33.0,32.0,75.0,573.0,388.0,203.0,124.0,71,23
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,45,58
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,49,40
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89,51
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90,45
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,22,68

In [195]:
# X, Y 나누기
X_test = raw_data_total_final

X_test
# X_test.loc[:,"Middlesbrough"]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56.0,42.0,47.0,61.0,562.0,432.0,188.0,136.0,66,39
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,47.0,40.0,54.0,78.0,428.0,471.0,149.0,148.0,46,35
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,39.0,59.0,43.0,48.0,472.0,426.0,145.0,156.0,48,56
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,33.0,42.0,51.0,61.0,395.0,440.0,120.0,142.0,35,46
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74.0,33.0,32.0,75.0,573.0,388.0,203.0,124.0,71,23
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,49.0,57.0,46.0,56.0,406.0,498.0,144.0,183.0,45,58
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,58.0,42.0,58.0,63.0,423.0,475.0,163.0,168.0,49,40
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,91.0,37.0,25.0,40.0,701.0,395.0,248.0,131.0,89,51
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,96.0,50.0,24.0,51.0,691.0,450.0,249.0,160.0,90,45
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23.0,64.0,79.0,40.0,365.0,472.0,109.0,185.0,22,68

In [204]:
y_test

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [196]:
# lstm 입력층에 맞게 reshape-

import numpy as np
X_test = np.array(X_test).reshape(X_test.shape[0], X_test.shape[1], 1)

In [197]:
# 모델 불러오기
from keras.models import load_model
model = load_model('(0523)only02_550.h5')

In [198]:
yhat = model.predict(X_test)
yhat

array([[0.73544055, 0.17518878, 0.08937068],
       [0.47001716, 0.28244847, 0.24753435],
       [0.34884858, 0.27061975, 0.3805316 ],
       [0.312653  , 0.27071625, 0.41663072],
       [0.781917  , 0.15262294, 0.06546012],
       [0.2903959 , 0.25261888, 0.45698527],
       [0.44997898, 0.28246108, 0.26755992],
       [0.7797405 , 0.14996749, 0.07029199],
       [0.77965623, 0.15065718, 0.06968662],
       [0.14736792, 0.16932093, 0.68331116]], dtype=float32)

In [199]:
predicted = yhat.argmax(axis=-1)
predicted

array([0, 0, 2, 2, 0, 2, 0, 0, 0, 2])

In [200]:
predicted_json = np.round(yhat, 2)
predicted_json

array([[0.74, 0.18, 0.09],
       [0.47, 0.28, 0.25],
       [0.35, 0.27, 0.38],
       [0.31, 0.27, 0.42],
       [0.78, 0.15, 0.07],
       [0.29, 0.25, 0.46],
       [0.45, 0.28, 0.27],
       [0.78, 0.15, 0.07],
       [0.78, 0.15, 0.07],
       [0.15, 0.17, 0.68]], dtype=float32)

In [201]:
raw_data_22.loc[370, 'HomeTeam']
test_team_list_home = []
test_team_list_away = []

for i in range(10):
    test_team_list_home.append(raw_data_22.loc[len(raw_data_22)-10+i, 'HomeTeam'])
    test_team_list_away.append(raw_data_22.loc[len(raw_data_22)-10+i, 'AwayTeam'])

In [202]:
import json

data = {
    "game_1" : {
        "HomeTeam" : str(test_team_list_home[0]),
        "AwayTeam" : str(test_team_list_away[0]),
        "Result" : {
            "Result_Home" : str(predicted_json[0][0]),
            "Result_Draw" : str(predicted_json[0][1]),
            "Result_Away" : str(predicted_json[0][2])
        }
    },
    "game_2" : {
        "HomeTeam" : str(test_team_list_home[1]),
        "AwayTeam" : str(test_team_list_away[1]),
        "Result" : {
            "Result_Home" : str(predicted_json[1][0]),
            "Result_Draw" : str(predicted_json[1][1]),
            "Result_Away" : str(predicted_json[1][2])
        }
    },
    "game_3" : {
        "HomeTeam" : str(test_team_list_home[2]),
        "AwayTeam" : str(test_team_list_away[2]),
        "Result" : {
            "Result_Home" : str(predicted_json[2][0]),
            "Result_Draw" : str(predicted_json[2][1]),
            "Result_Away" : str(predicted_json[2][2])
        }
    },
    "game_4" : {
        "HomeTeam" : str(test_team_list_home[3]),
        "AwayTeam" : str(test_team_list_away[3]),
        "Result" : {
            "Result_Home" : str(predicted_json[3][0]),
            "Result_Draw" : str(predicted_json[3][1]),
            "Result_Away" : str(predicted_json[3][2])
        }
    },
    "game_5" : {
        "HomeTeam" : str(test_team_list_home[4]),
        "AwayTeam" : str(test_team_list_away[5]),
        "Result" : {
            "Result_Home" : str(predicted_json[4][0]),
            "Result_Draw" : str(predicted_json[4][1]),
            "Result_Away" : str(predicted_json[4][2])
        }
    },
    "game_6" : {
        "HomeTeam" : str(test_team_list_home[5]),
        "AwayTeam" : str(test_team_list_away[5]),
        "Result" : {
            "Result_Home" : str(predicted_json[5][0]),
            "Result_Draw" : str(predicted_json[5][1]),
            "Result_Away" : str(predicted_json[5][2])
        }
    },
    "game_7" : {
        "HomeTeam" : str(test_team_list_home[6]),
        "AwayTeam" : str(test_team_list_away[6]),
        "Result" : {
            "Result_Home" : str(predicted_json[6][0]),
            "Result_Draw" : str(predicted_json[6][1]),
            "Result_Away" : str(predicted_json[6][2])
        }
    },
    "game_8" : {
        "HomeTeam" : str(test_team_list_home[7]),
        "AwayTeam" : str(test_team_list_away[7]),
        "Result" : {
            "Result_Home" : str(predicted_json[7][0]),
            "Result_Draw" : str(predicted_json[7][1]),
            "Result_Away" : str(predicted_json[7][2])
        }
    },
    "game_9" : {
        "HomeTeam" : str(test_team_list_home[8]),
        "AwayTeam" : str(test_team_list_away[8]),
        "Result" : {
            "Result_Home" : str(predicted_json[8][0]),
            "Result_Draw" : str(predicted_json[8][1]),
            "Result_Away" : str(predicted_json[8][2])
        }
    },
    "game_10" : {
        "HomeTeam" : str(test_team_list_home[9]),
        "AwayTeam" : str(test_team_list_away[9]),
        "Result" : {
            "Result_Home" : str(predicted_json[9][0]),
            "Result_Draw" : str(predicted_json[9][1]),
            "Result_Away" : str(predicted_json[9][2])
        }
    }
}

file_path = "test.json"

with open(file_path, 'w', encoding='utf-8') as file:
    json.dump(data, file)

In [203]:
data

{'game_1': {'HomeTeam': 'Arsenal',
  'AwayTeam': 'Everton',
  'Result': {'Result_Home': '0.74',
   'Result_Draw': '0.18',
   'Result_Away': '0.09'}},
 'game_2': {'HomeTeam': 'Brentford',
  'AwayTeam': 'Leeds',
  'Result': {'Result_Home': '0.47',
   'Result_Draw': '0.28',
   'Result_Away': '0.25'}},
 'game_3': {'HomeTeam': 'Brighton',
  'AwayTeam': 'West Ham',
  'Result': {'Result_Home': '0.35',
   'Result_Draw': '0.27',
   'Result_Away': '0.38'}},
 'game_4': {'HomeTeam': 'Burnley',
  'AwayTeam': 'Newcastle',
  'Result': {'Result_Home': '0.31',
   'Result_Draw': '0.27',
   'Result_Away': '0.42'}},
 'game_5': {'HomeTeam': 'Chelsea',
  'AwayTeam': 'Man United',
  'Result': {'Result_Home': '0.78',
   'Result_Draw': '0.15',
   'Result_Away': '0.07'}},
 'game_6': {'HomeTeam': 'Crystal Palace',
  'AwayTeam': 'Man United',
  'Result': {'Result_Home': '0.29',
   'Result_Draw': '0.25',
   'Result_Away': '0.46'}},
 'game_7': {'HomeTeam': 'Leicester',
  'AwayTeam': 'Southampton',
  'Result': {'Result_Home': '0.45',
   'Result_Draw': '0.28',
   'Result_Away': '0.27'}},
 'game_8': {'HomeTeam': 'Liverpool',
  'AwayTeam': 'Wolves',
  'Result': {'Result_Home': '0.78',
   'Result_Draw': '0.15',
   'Result_Away': '0.07'}},
 'game_9': {'HomeTeam': 'Man City',
  'AwayTeam': 'Aston Villa',
  'Result': {'Result_Home': '0.78',
   'Result_Draw': '0.15',
   'Result_Away': '0.07'}},
 'game_10': {'HomeTeam': 'Norwich',
  'AwayTeam': 'Tottenham',
  'Result': {'Result_Home': '0.15',
   'Result_Draw': '0.17',
   'Result_Away': '0.68'}}}